{% liquid
  assign prepared_section_background_color = section_background_color | strip

  assign product_card_custom_badge_1_text = settings.product_card_custom_badge_1_text
  assign product_card_custom_badge_2_text = settings.product_card_custom_badge_2_text
  assign product_card_custom_badge_3_text = settings.product_card_custom_badge_3_text
%}

{% case name %}
  {% when 'sold_out' %}
    {% if product.available == false %}
      <div class='{{ class }} product-badge product-badge--sold-out {% if prepared_section_background_color == settings.product_card_sold_out_badge_bg %} product-badge--with-inner-border {% endif %}'>
        {{- 'product.store_front.sold_out' | t -}}
      </div>
    {% endif %}
  {% when 'sale' %}
    {% if product.compare_at_price > product.price %}
      <div class='{{ class }} product-badge product-badge--sale {% if prepared_section_background_color == settings.product_sale_badge_bg %} product-badge--with-inner-border {% endif %}'>
        {% render 'sale-badge-text', price: product.price, old_price: product.compare_at_price %}
      </div>
    {% endif %}
  {% when 'custom_1' %}
    {% if product_card_custom_badge_1_text != blank %}
      <div class='{{ class }} product-badge product-badge--custom-1 {% if prepared_section_background_color == settings.product_card_custom_badge_1_bg %} product-badge--with-inner-border {% endif %}'>
        {{ product_card_custom_badge_1_text }}
      </div>
    {% endif %}
  {% when 'custom_2' %}
    {% if product_card_custom_badge_2_text != blank %}
      <div class='{{ class }} product-badge product-badge--custom-2 {% if prepared_section_background_color == settings.product_card_custom_badge_2_bg %} product-badge--with-inner-border {% endif %}'>
        {{ product_card_custom_badge_2_text }}
      </div>
    {% endif %}
  {% when 'custom_3' %}
    {% if product_card_custom_badge_3_text != blank %}
      <div class='{{ class }} product-badge product-badge--custom-3 {% if prepared_section_background_color == settings.product_card_custom_badge_3_bg %} product-badge--with-inner-border {% endif %}'>
        {{ product_card_custom_badge_3_text }}
      </div>
    {% endif %}
  {% when 'sale_amount' %}
    <div class='{{ class }} product-sale-amount-badge {% if prepared_section_background_color == settings.product_sale_amount_badge_bg %} product-sale-amount-badge--with-inner-border {% endif %}'>
      {% render 'sale-amount-badge-text', price: product.price, old_price: product.compare_at_price %}
    </div>
{% endcase %}
