{%- liquid
  assign free_shipping_threshold_value = settings.cart_free_shipping_bar_threshold
  assign cart_free_shipping_heading_size = settings.cart_free_shipping_heading_size
  assign cart_free_shipping_bar_style = settings.cart_free_shipping_bar_style

  assign currencies_using_comma_decimals = 'BIF,CLP,DJF,GNF,ISK,JPY,KMF,KRW,PYG,RWF,UGX,UYI,VND,VUV,XAF,XOF,XPF' | split: ','
  assign uses_comma_decimals = false

  if currencies_using_comma_decimals contains cart.currency.iso_code
    assign uses_comma_decimals = true
  endif

  if uses_comma_decimals
    assign cart_total = cart.total_price | money_without_currency | replace: '.', '' | replace: ',', '.' | times: 1000
  else
    if shop.money_format contains 'comma_separator' or shop.money_format contains 'space_separator'
      assign cart_total = cart.total_price | money_without_currency | replace: ',', '.'
    else
      assign cart_total = cart.total_price | money_without_currency | replace: ',', '' | times: 1.0
    endif
  endif
-%}

<free-shipping-bar
  class='free-shipping-bar'
  data-achieved-message='{{ 'general.free_shipping_bar.store_front.achieved_message' | t }}'
  data-progress-message='{{ 'general.free_shipping_bar.store_front.progress_message' | t }}'
  data-threshold='{{ free_shipping_threshold_value }}'
  data-cart-total='{{ cart_total }}'
  data-currency-format='{{ shop.money_format | strip_html }}'
>
  <div
    class='free-shipping-bar__title {{ cart_free_shipping_heading_size }}'
    data-free-shipping-bar-message
  >
    {{ message }}
  </div>

  <div class='free-shipping-bar__progress {% if cart_free_shipping_bar_style == "dashed" %} free-shipping-bar__progress--dashed {% endif %}'>
    <div class='free-shipping-bar__progress-bar'></div>
    <div class='free-shipping-bar__progress-bar-dots' data-free-shipping-progress-bar-dots></div>
  </div>
</free-shipping-bar>
