{%- liquid
  assign options = block.settings
  assign enable_pickup_availability = options.enable_pickup_availability
  assign show_pickup_availability = false
  assign selected_variant = product.selected_or_first_available_variant
  assign available = selected_variant.available
  assign product_form_id = 'product-form-' | append: product.id | append: '-' | append: sectionId
  assign pick_up_locations = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true
  assign pick_up_availabilities = false
  assign add_to_cart_label = 'product.store_front.add_to_cart' | t
  assign add_to_cart_label_short = 'product.store_front.add_to_cart_short' | t
  assign sold_out_label = 'product.store_front.sold_out' | t
  assign sold_out_label_short = 'product.store_front.sold_out_short' | t
  assign unavailable_label = 'product.store_front.unavailable' | t

  assign buttons_size = options.buttons_size
  assign add_to_cart_btn_style = options.add_to_cart_btn_style
  assign checkout_btn_style = options.checkout_btn_style

  for location in pick_up_locations
    if location.available == true
      assign pick_up_availabilities = true
    endif
  endfor

  assign enable_gift_card = false
  if options.enable_gift_card and product.gift_card?
    assign enable_gift_card = true
  endif

  assign show_sticky_buy_button = options.show_sticky_buy_button

  assign show_dynamic_checkout = false
  if options.show_dynamic_checkout and enable_gift_card == false
    assign show_dynamic_checkout = true
  endif

  if product.template_suffix contains 'pre-order'
    assign show_dynamic_checkout = false
    assign add_to_cart_label = 'product.store_front.pre_order' | t
    assign add_to_cart_label_short = add_to_cart_label
  endif

  if enable_pickup_availability and pick_up_availabilities == true
    unless product.template_suffix contains 'pre-order'
      assign show_pickup_availability = true
    endunless
  endif

  assign show_payment_icons = options.show_payment_icons
-%}

{%- if product != blank -%}
  <div data-product-block='{{ block.id }}' class='' {{ block.shopify_attributes }}>
    <product-form data-product-id='{{ product.id }}' id='product-form-component-{{ product.id }}-{{ sectionId }}'>
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'product-form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        {% if enable_gift_card %}
          {% render 'gift-card-recipient-form', product: product, form: form, section: section, block: block %}
        {% endif %}

        <input
          type='hidden'
          name='id'
          value='{{ selected_variant.id }}'
          data-product-form-variant
          id='{{ product_form_id }}-IdInput-{{ form.id }}'
        >
        {{ form | payment_terms }}
        <div class='product-form__btns'>
          {% if template.name == 'product' and sectionId contains '---MainSection' %}
            <div class='product-form__btn-wrapper'>
              <button
                type='submit'
                name='add'
                id='product-buy-btn-{{ product.id }}-{{ sectionId }}'
                class='product-form__btn btn btn--{{buttons_size}} btn--{{add_to_cart_btn_style}}'
                {% if available != true %}
                  disabled
                {% endif %}
                aria-label='{%- if available -%}{{ add_to_cart_label | strip_html | escape }}{%- else -%}{{ sold_out_label | strip_html | escape }}{%- endif -%}'
              >
                <span data-button-text>
                  {%- if selected_variant == null -%}
                    {{ unavailable_label }}
                  {% else %}
                    {%- if available -%}
                      {{ add_to_cart_label }}
                    {%- else -%}
                      {{ sold_out_label }}
                    {%- endif -%}
                  {%- endif -%}
                </span>
                <div class='loading-spinner btn__loading-spinner'></div>
              </button>
            </div>

            {% if show_sticky_buy_button != 'none' %}
              <product-form-button
                class='
                  product-form__sticky-buy-button
                  product-form__sticky-buy-button--{{ show_sticky_buy_button }}
                '
              >
                {% render 'horizontal-product-card', product: product, hide_buttons: true %}
                <div class='product-form__btn-wrapper'>
                  <button
                    type='submit'
                    name='add'
                    id='sticky-product-buy-btn-{{ product.id }}-{{ sectionId }}'
                    class='product-form__btn btn btn--sm btn--{{add_to_cart_btn_style}}'
                    {% if available != true %}
                      disabled
                    {% endif %}
                    aria-label='{%- if available -%}{{ add_to_cart_label | strip_html | escape }}{%- else -%}{{ sold_out_label | strip_html | escape }}{%- endif -%}'
                  >
                    <span data-button-text>
                      {%- if available -%}
                        <span class='product-buy-btn__text-label'> {{ add_to_cart_label }}</span>
                        <span class='product-buy-btn__text-label-short'> {{ add_to_cart_label_short }}</span>
                      {%- else -%}
                        <span class='product-buy-btn__text-label'> {{ sold_out_label }}</span>
                        <span class='product-buy-btn__text-label-short'> {{ sold_out_label_short }}</span>
                      {%- endif -%}
                    </span>
                    <div class='loading-spinner btn__loading-spinner'></div>
                  </button>
                </div>
              </product-form-button>
            {% endif %}

          {%- else -%}
            <button
              type='submit'
              name='add'
              id='product-buy-btn-{{ product.id }}-{{ sectionId }}'
              class='product-form__btn btn btn--{{buttons_size}} btn--{{add_to_cart_btn_style}}'
              {% if available != true %}
                disabled
              {% endif %}
              aria-label='{%- if available -%}{{ add_to_cart_label | strip_html | escape }}{%- else -%}{{ sold_out_label | strip_html | escape }}{%- endif -%}'
            >
              <span data-button-text>
                {%- if selected_variant == null -%}
                  {{ unavailable_label }}
                {% else %}
                  {%- if available -%}
                    {{ add_to_cart_label }}
                  {%- else -%}
                    {{ sold_out_label }}
                  {%- endif -%}
                {%- endif -%}
              </span>
              <div class='loading-spinner btn__loading-spinner'></div>
            </button>
          {% endif %}

          {%- if show_dynamic_checkout == true -%}
            <div
              class='dynamic-checkout-buttons dynamic-checkout-buttons--{{buttons_size}} dynamic-checkout-buttons--{{checkout_btn_style}}'
              {% if available != true %}
                disabled
              {% endif %}
            >
              {{ form | payment_button }}
            </div>
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>

    {%- if show_payment_icons -%}
      <div class='product-form__payment-icons-wrapper'>
        <p class='product-form__payment-icons-label'>
          {{ 'product.store_front.payment_icon_title' | t }}
        </p>

        <div class='product-form__payment-icons'>
          {%- for type in shop.enabled_payment_types -%}
            {{ type | payment_type_svg_tag }}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    {%- if show_pickup_availability == true -%}
      <pickup-availability
        class='pickup-availability body-font-weight-from-global-settings'
        data-base-url='{{ shop.url }}{{ routes.root_url }}'
        data-variant-id='{{ selected_variant.id }}'
        data-has-only-default-variant='{{ product.has_only_default_variant }}'
        id='product-pickup-availability-{{ product.id }}-{{ sectionId }}'
      >
        <pickup-availability-content class='pickup-availability-info'> </pickup-availability-content>
      </pickup-availability>
    {%- endif -%}
  </div>
{%- endif -%}
