{%- liquid
  assign options = section.settings
  assign add_desktop_side_paddings = options.add_desktop_side_paddings
  assign add_mobile_side_paddings = options.add_mobile_side_paddings
  assign color_scheme = settings.default_color_scheme
  if options.color_scheme_variant == 'own'
    assign color_scheme = options.color_scheme
  endif
  assign round_level = options.round_level
  assign desktop_columns = options.desktop_columns
  assign img_ratio = options.img_ratio | times: 100
  assign show_author = options.show_author
  assign show_date = options.show_date
  assign show_comment_count = options.show_comment_count
  assign show_subheading = options.show_subheading
  assign show_read_more = options.show_read_more
  assign heading_alignment = options.heading_alignment
  assign blog = options.blog
  assign title = options.title
  assign articles = blog.articles
  assign heading_size = options.heading_size

  assign container_size = options.container_size

  assign posts_to_show = options.posts_to_show
  assign color_post_background = options.color_post_background

  if blog == blank
    assign placeholder_count = desktop_columns | times: 2
    assign articles = (1..placeholder_count)
  endif

  assign dots_count = articles.size
  if posts_to_show < dots_count
    assign dots_count = posts_to_show
  endif

  assign show_tags = options.show_tags
  assign selected_tags = options.selected_tags | split: ',' | uniq
  assign tags_position = options.tags_position
  assign collapse_extra_tags = options.collapse_extra_tags

  assign desktop_layout = options.desktop_layout
  assign mobile_layout = options.mobile_layout

  assign enable_content_slide_in = settings.enable_content_slide_in
-%}

{%- liquid
  assign show_background = section.settings.show_background
  assign color_container_background = false

  if show_background == false and settings.default_color_scheme.settings.background != color_scheme.settings.background
    assign color_container_background = true
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{ section.id }} {
        --gsc-section-spacing-top: var(--gsc-padding-block-{{ section.settings.section_spacing_top }});
        --gsc-section-spacing-bottom: var(--gsc-padding-block-{{ section.settings.section_spacing_bottom }});
        --gsc-columns: 1;
        --gsc-space-between-cards: var(--gsc-gap-{{ section.settings.space_between_cards_mobile }});  
        --gsc-img-ratio: {{ img_ratio | plus: 1 }}%;
    }

    .section-{{section.id}} .article-card, .section-{{section.id}} .articles-slideshow {
      --gsc-img-ratio: {{ img_ratio }}%;
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{ section.id }}{
          --gsc-columns: {{desktop_columns}};
          --gsc-slide-width: {{ 100.00 | divided_by: desktop_columns }}%;
          --gsc-space-between-cards: var(--gsc-gap-{{ section.settings.space_between_cards }}); 
        }
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% capture slider_grid_dots %}
  {% render 'dynamic-dots',
    dots_count: dots_count,
    visible_dots_count: 5,
    active_dot_type: 'dot',
    target: 'custom',
    custom_class: 'slider-grid__dots'
  %}  
{% endcapture %}

<div class='articles {% if round_level != 'default' %}round-level-{{round_level}}{% endif %} section articles--section section-{{ section.id }} color-{{ color_scheme }} spacing-block {% if add_mobile_side_paddings %}spacing-inline-mobile{% endif %} {% if add_desktop_side_paddings %}spacing-inline-desktop{% endif %} {% if color_container_background == false %}section-background{% endif %}'>
  <div class='container container--{{ container_size }} {% if color_container_background %}container-background{% endif %}'>
    {%- if title != blank -%}
      <div
        class='articles__header {% if color_container_background == false and add_desktop_side_paddings == false or add_mobile_side_paddings == false  %}spacing-inline-header{% endif %} {% if heading_alignment == 'center' %} articles__header--center-alignment {% endif %} {% if heading_alignment == 'right' %} articles__header--right-alignment {% endif %} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 1;'
        {% endif %}
      >
        <h2 class='articles__title {{ heading_size }}'>
          {{ title }}
        </h2>
      </div>
    {%- endif -%}

    {% if desktop_layout != 'slideshow' and mobile_layout != 'slideshow' %}
      <slider-grid
        class='slider-grid {% if request.design_mode %}is-editor-mode{% endif %}'
        {% if desktop_layout contains 'grid' %}
          desktop-disabled
        {% endif %}
        {% if mobile_layout contains 'column' %}
          mobile-disabled
        {% endif %}
      >
        <div
          slider-grid-track
          class='slider-grid-track slider-grid__d-{{desktop_layout}} {% if mobile_layout contains 'carousel' %}slider-grid__m-slideshow{% else %}slider-grid__m-{{mobile_layout}}{% endif %}'
        >
          {%- for article in articles limit: posts_to_show -%}
            <div
              class='slider-grid__slide {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
              {% if enable_content_slide_in %}
                style='--gsc-animation-order: {{ forloop.index }};'
              {% endif %}
              slider-grid-slide
              {% if mobile_layout == 'carousel' %}
                index='{{ forloop.index0 }}'
              {% endif %}
            >
              {%- render 'article-card',
                type: 'full',
                article: article,
                img_ratio: 'nature',
                show_read_more: show_read_more,
                show_subheading: show_subheading,
                show_comment_count: show_comment_count,
                show_date: show_date,
                show_author: show_author,
                show_tags: show_tags,
                selected_tags: selected_tags,
                tags_position: tags_position,
                collapse_extra_tags: collapse_extra_tags,
                layout: 'desktop',
                color_post_background: color_post_background
              -%}
            </div>
          {%- endfor -%}
        </div>

        {% if desktop_layout contains 'carousel' and articles.size > desktop_columns %}
          <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev'>
            <div class='shape shape--nature'>
              <button
                type='button'
                class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
                data-direction='prev'
                tabindex='0'
                disabled
              >
                {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' %}
              </button>
            </div>
          </div>

          <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next'>
            <div class='shape shape--nature'>
              <button
                type='button'
                class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
                data-direction='next'
                tabindex='0'
              >
                {%- render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' -%}
              </button>
            </div>
          </div>
        {% endif %}

        {% if mobile_layout == 'carousel' %}
          {{ slider_grid_dots }}
        {% endif %}
      </slider-grid>
    {% endif %}

    {% if desktop_layout == 'slideshow' or mobile_layout == 'slideshow' %}
      <section class='articles__desktop-content'>
        {% if desktop_layout != 'slideshow' %}
          <slider-grid
            class='slider-grid {% if request.design_mode %}is-editor-mode{% endif %}'
            {% if desktop_layout contains 'grid' %}
              desktop-disabled
            {% endif %}
            {% if mobile_layout contains 'column' %}
              mobile-disabled
            {% endif %}
          >
            <div
              slider-grid-track
              class='slider-grid-track slider-grid__d-{{desktop_layout}} {% if mobile_layout contains 'carousel' %}slider-grid__m-slideshow{% else %}slider-grid__m-{{mobile_layout}}{% endif %}'
            >
              {%- for article in articles limit: posts_to_show -%}
                <div
                  class='slider-grid__slide {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                  {% if enable_content_slide_in %}
                    style='--gsc-animation-order: {{ forloop.index }};'
                  {% endif %}
                  slider-grid-slide
                  {% if mobile_layout == 'carousel' %}
                    index='{{ forloop.index0 }}'
                  {% endif %}
                >
                  {%- render 'article-card',
                    type: 'full',
                    article: article,
                    img_ratio: 'nature',
                    show_read_more: show_read_more,
                    show_subheading: show_subheading,
                    show_comment_count: show_comment_count,
                    show_date: show_date,
                    show_author: show_author,
                    show_tags: show_tags,
                    selected_tags: selected_tags,
                    tags_position: tags_position,
                    collapse_extra_tags: collapse_extra_tags,
                    layout: 'desktop',
                    color_post_background: color_post_background
                  -%}
                </div>
              {%- endfor -%}
            </div>

            {% if desktop_layout contains 'carousel' and articles.size > desktop_columns %}
              <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev'>
                <div class='shape shape--nature'>
                  <button
                    type='button'
                    class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
                    data-direction='prev'
                    tabindex='0'
                    disabled
                  >
                    {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' %}
                  </button>
                </div>
              </div>

              <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next'>
                <div class='shape shape--nature'>
                  <button
                    type='button'
                    class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
                    data-direction='next'
                    tabindex='0'
                  >
                    {%- render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' -%}
                  </button>
                </div>
              </div>
            {% endif %}
          </slider-grid>
        {% endif %}

        {% if desktop_layout == 'slideshow' %}
          <carousel-component
            class='card-carousel articles-slideshow'
            data-section-id='{{ section.id }}'
            with-hover-pause
            data-draggable
            data-align='start'
            data-axis='x'
            data-contain-scroll='trimSnaps'
          >
            <div class='card-carousel__viewport embla articles-slideshow__image' data-carousel-viewport>
              <div class='card-carousel__container' data-carousel-container>
                {%- for article in articles limit: posts_to_show -%}
                  <div class='card-carousel__slide zoom-parent-for-hover'>
                    {%- render 'article-card',
                      type: 'image',
                      article: article,
                      img_ratio: 'nature',
                      show_read_more: show_read_more,
                      show_subheading: show_subheading,
                      show_comment_count: show_comment_count,
                      show_date: show_date,
                      show_author: show_author,
                      show_tags: show_tags,
                      selected_tags: selected_tags,
                      tags_position: tags_position,
                      collapse_extra_tags: collapse_extra_tags,
                      layout: 'desktop',
                      color_post_background: color_post_background
                    -%}
                  </div>
                {%- endfor -%}
              </div>
            </div>

            <carousel-dots
              class='carousel articles-slideshow__details {% if color_post_background %} articles-slideshow__details--with-background {% endif %}'
              data-contain-scroll='keepSnaps'
              data-align='center'
              data-in-view-threshhold='1'
              data-axis='x'
              change-slide-on-scroll='true'
            >
              <div
                class='carousel__viewport embla'
                data-carousel-viewport
              >
                <div
                  class='carousel__container'
                  data-carousel-container
                >
                  {%- for article in articles limit: posts_to_show -%}
                    <carousel-dot
                      class='carousel__slide link-parent-for-hover'
                      tabindex='0'
                      data-dot-index='{{ forloop.index0 }}'
                    >
                      {%- render 'article-card',
                        type: 'details',
                        article: article,
                        img_ratio: 'nature',
                        show_read_more: show_read_more,
                        show_subheading: show_subheading,
                        show_comment_count: show_comment_count,
                        show_date: show_date,
                        show_author: show_author,
                        show_tags: show_tags,
                        selected_tags: selected_tags,
                        tags_position: tags_position,
                        collapse_extra_tags: collapse_extra_tags,
                        layout: 'desktop',
                        color_post_background: color_post_background
                      -%}
                    </carousel-dot>
                  {%- endfor -%}
                </div>
              </div>

              {% if articles.size > 1 %}
                <div
                  class='articles-slideshow__arrows {% if color_post_background %}articles-slideshow__arrows--on-background{% endif %} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                  {% if enable_content_slide_in %}
                    style='--gsc-animation-order: 6;'
                  {% endif %}
                >
                  <carousel-button
                    class='carousel-btn'
                    data-direction='prev'
                    tabindex='0'
                  >
                    {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' %}
                  </carousel-button>

                  <carousel-button
                    class='carousel-btn'
                    data-direction='next'
                    tabindex='0'
                  >
                    {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' %}
                  </carousel-button>
                </div>
              {% endif %}
            </carousel-dots>
          </carousel-component>
        {% endif %}
      </section>

      <section class='articles__mobile-content'>
        {% if mobile_layout != 'slideshow' %}
          <slider-grid
            class='slider-grid {% if request.design_mode %}is-editor-mode{% endif %}'
            {% if desktop_layout contains 'grid' %}
              desktop-disabled
            {% endif %}
            {% if mobile_layout contains 'column' %}
              mobile-disabled
            {% endif %}
          >
            <div
              slider-grid-track
              class='slider-grid-track slider-grid__d-{{desktop_layout}} {% if mobile_layout contains 'carousel' %}slider-grid__m-slideshow{% else %}slider-grid__m-{{mobile_layout}}{% endif %}'
            >
              {%- for article in articles limit: posts_to_show -%}
                <div
                  class='slider-grid__slide'
                  slider-grid-slide
                  {% if mobile_layout == 'carousel' %}
                    index='{{ forloop.index0 }}'
                  {% endif %}
                >
                  {%- render 'article-card',
                    type: 'full',
                    article: article,
                    img_ratio: 'nature',
                    show_read_more: show_read_more,
                    show_subheading: show_subheading,
                    show_comment_count: show_comment_count,
                    show_date: show_date,
                    show_author: show_author,
                    show_tags: show_tags,
                    selected_tags: selected_tags,
                    tags_position: tags_position,
                    collapse_extra_tags: collapse_extra_tags,
                    layout: 'desktop',
                    color_post_background: color_post_background
                  -%}
                </div>
              {%- endfor -%}
            </div>

            {% if mobile_layout == 'carousel' %}
              {{ slider_grid_dots }}
            {% endif %}
          </slider-grid>
        {% endif %}

        {% if mobile_layout == 'slideshow' %}
          <carousel-component
            class='card-carousel articles-slideshow'
            data-section-id='{{ section.id }}'
            with-hover-pause
            data-draggable
            data-align='start'
            data-axis='x'
            data-contain-scroll='trimSnaps'
          >
            <div class='card-carousel__viewport embla articles-slideshow__image' data-carousel-viewport>
              <div class='card-carousel__container' data-carousel-container>
                {%- for article in articles limit: posts_to_show -%}
                  <div class='card-carousel__slide'>
                    {%- render 'article-card',
                      type: 'image',
                      article: article,
                      img_ratio: 'nature',
                      show_read_more: show_read_more,
                      show_subheading: show_subheading,
                      show_comment_count: show_comment_count,
                      show_date: show_date,
                      show_author: show_author,
                      show_tags: show_tags,
                      selected_tags: selected_tags,
                      tags_position: tags_position,
                      collapse_extra_tags: collapse_extra_tags,
                      layout: 'mobile',
                      color_post_background: color_post_background
                    -%}
                  </div>
                {%- endfor -%}
              </div>
            </div>

            <carousel-dots
              class='carousel articles-slideshow__details {% if color_post_background %} articles-slideshow__details--with-background {% endif %}'
              data-contain-scroll='keepSnaps'
              is-draggable
              data-draggable
              data-align='center'
              data-in-view-threshhold='1'
              data-axis='x'
              change-slide-on-scroll='true'
            >
              <div
                class='carousel__viewport embla'
                data-carousel-viewport
              >
                <div
                  class='carousel__container'
                  data-carousel-container
                >
                  {%- for article in articles limit: posts_to_show -%}
                    <carousel-dot
                      class='carousel__slide'
                      tabindex='0'
                      data-dot-index='{{ forloop.index0 }}'
                    >
                      {%- render 'article-card',
                        type: 'details',
                        article: article,
                        img_ratio: 'nature',
                        show_read_more: show_read_more,
                        show_subheading: show_subheading,
                        show_comment_count: show_comment_count,
                        show_date: show_date,
                        show_author: show_author,
                        show_tags: show_tags,
                        selected_tags: selected_tags,
                        tags_position: tags_position,
                        collapse_extra_tags: collapse_extra_tags,
                        layout: 'mobile',
                        color_post_background: color_post_background
                      -%}
                    </carousel-dot>
                  {%- endfor -%}
                </div>
              </div>

              {% if articles.size > 1 %}
                <div
                  class='articles-slideshow__arrows {% if color_post_background %}articles-slideshow__arrows--on-background{% endif %} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                  {% if enable_content_slide_in %}
                    style='--gsc-animation-order: 6;'
                  {% endif %}
                >
                  <carousel-button
                    class='carousel-btn'
                    data-direction='prev'
                    tabindex='0'
                  >
                    {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' %}
                  </carousel-button>

                  <carousel-button
                    class='carousel-btn'
                    data-direction='next'
                    tabindex='0'
                  >
                    {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' %}
                  </carousel-button>
                </div>
              {% endif %}
            </carousel-dots>
          </carousel-component>
        {% endif %}
      </section>
    {% endif %}
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.blog_posts.name",
  "tag": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog_posts.blog_label"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.blog_posts.desktop_layout.options.option_1"
        },
        {
          "value": "carousel",
          "label": "t:sections.blog_posts.desktop_layout.options.option_2"
        },
        {
          "value": "slideshow",
          "label": "t:sections.blog_posts.desktop_layout.options.option_3"
        }
      ],
      "default": "slideshow",
      "label": "t:sections.blog_posts.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.blog_posts.mobile_layout.options.option_1"
        },
        {
          "value": "slideshow",
          "label": "t:sections.blog_posts.mobile_layout.options.option_2"
        },
        {
          "value": "grid",
          "label": "t:sections.blog_posts.mobile_layout.options.option_3"
        }
      ],
      "default": "carousel",
      "label": "t:sections.blog_posts.mobile_layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.blog_posts.blog_settings_header"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Blog posts",
      "label": "t:sections.blog_posts.title_label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general_section_settings.label_for_size_setting",
      "options": [
        {
          "value": "display1",
          "label": "t:sections.general_section_settings.display_size_1_option"
        },
        {
          "value": "display2",
          "label": "t:sections.general_section_settings.display_size_2_option"
        },
        {
          "value": "display3",
          "label": "t:sections.general_section_settings.display_size_3_option"
        },
        {
          "value": "h1",
          "label": "t:sections.general_section_settings.heading_size_1_option"
        },
        {
          "value": "h2",
          "label": "t:sections.general_section_settings.heading_size_2_option"
        },
        {
          "value": "h3",
          "label": "t:sections.general_section_settings.heading_size_3_option"
        },
        {
          "value": "h4",
          "label": "t:sections.general_section_settings.heading_size_4_option"
        },
        {
          "value": "h5",
          "label": "t:sections.general_section_settings.heading_size_5_option"
        },
        {
          "value": "h6",
          "label": "t:sections.general_section_settings.heading_size_6_option"
        },
        {
          "value": "caption1",
          "label": "t:sections.general_section_settings.caption_size_1_option"
        },
        {
          "value": "caption2",
          "label": "t:sections.general_section_settings.caption_size_2_option"
        },
        {
          "value": "caption3",
          "label": "t:sections.general_section_settings.caption_size_3_option"
        }
      ],
      "default": "h5"
    },
    {
      "type": "text_alignment",
      "id": "heading_alignment",
      "label": "t:sections.general_section_settings.heading_alignment_label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.blog_posts.posts_settings_header"
    },
    {
      "type": "range",
      "id": "img_ratio",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "default": 0.7,
      "unit": "t:sections.general_section_settings.img_ratio_unit",
      "label": "t:sections.general_section_settings.ratio_label"
    },
    {
      "type": "range",
      "id": "posts_to_show",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 6,
      "label": "t:sections.blog_posts.posts_to_show_label"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2,
      "label": "t:sections.blog_posts.desktop_columns_label"
    },
    {
      "type": "select",
      "id": "space_between_cards",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.gap.options.none"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.gap.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.gap.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.gap.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.gap.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.gap.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.gap.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.gap.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.gap.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.gap.options.xxxl"
        }
      ],
      "default": "s",
      "label": "t:sections.general_section_settings.gap.label.gap"
    },
    {
      "type": "select",
      "id": "space_between_cards_mobile",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.gap.options.none"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.gap.options.xxxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.gap.options.xxs"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.gap.options.xs"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.gap.options.s"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.gap.options.m"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.gap.options.l"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.gap.options.xl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.gap.label.gap_mobile"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.blog_posts.show_author_label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.blog_posts.show_date_label"
    },
    {
      "type": "checkbox",
      "id": "show_comment_count",
      "default": true,
      "label": "t:sections.blog_posts.show_comment_count_label"
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "default": true,
      "label": "t:sections.blog_posts.show_read_more_label"
    },
    {
      "type": "checkbox",
      "id": "show_subheading",
      "default": true,
      "label": "t:sections.blog_posts.show_subheading_label",
      "info": "t:sections.blog_posts.show_subheading_info"
    },
    {
      "type": "checkbox",
      "id": "color_post_background",
      "default": true,
      "label": "t:sections.blog_posts.color_post_background_label"
    },
    {
      "type": "header",
      "content": "t:sections.blog_posts.tags_settings.header_title"
    },
    {
      "type": "select",
      "id": "show_tags",
      "label": "t:sections.blog_posts.tags_settings.show_tags.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.blog_posts.tags_settings.show_tags.options.option_1"
        },
        {
          "value": "all",
          "label": "t:sections.blog_posts.tags_settings.show_tags.options.option_2"
        },
        {
          "value": "selected",
          "label": "t:sections.blog_posts.tags_settings.show_tags.options.option_3"
        }
      ],
      "default": "all"
    },
    {
      "type": "text",
      "id": "selected_tags",
      "label": "t:sections.blog_posts.tags_settings.select_tags.label",
      "info": "t:sections.blog_posts.tags_settings.select_tags.info",
      "visible_if": "{{ section.settings.show_tags == 'selected' }}"
    },
    {
      "type": "select",
      "id": "tags_position",
      "label": "t:sections.blog_posts.tags_settings.tags_position.label",
      "options": [
        {
          "value": "on_image",
          "label": "t:sections.blog_posts.tags_settings.tags_position.options.option_1"
        },
        {
          "value": "under_image",
          "label": "t:sections.blog_posts.tags_settings.tags_position.options.option_2"
        }
      ],
      "default": "under_image",
      "visible_if": "{{ section.settings.show_tags != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "collapse_extra_tags",
      "default": false,
      "label": "t:sections.blog_posts.tags_settings.collapse_extra_tags.label",
      "visible_if": "{{ section.settings.show_tags != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.appearance.header_title"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        },
        {
          "value": "small",
          "label": "t:sections.general_section_settings.container_size.small_width_option"
        }
      ],
      "default": "large",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "select",
      "id": "round_level",
      "options": [
        {
          "value": "default",
          "label": "t:settings_schema.appearance.round_level.options.default"
        },
        {
          "value": "0",
          "label": "t:settings_schema.appearance.round_level.options.option_0"
        },
        {
          "value": "1",
          "label": "t:settings_schema.appearance.round_level.options.option_1"
        },
        {
          "value": "2",
          "label": "t:settings_schema.appearance.round_level.options.option_2"
        },
        {
          "value": "3",
          "label": "t:settings_schema.appearance.round_level.options.option_3"
        },
        {
          "value": "4",
          "label": "t:settings_schema.appearance.round_level.options.option_4"
        },
        {
          "value": "5",
          "label": "t:settings_schema.appearance.round_level.options.option_5"
        },
        {
          "value": "6",
          "label": "t:settings_schema.appearance.round_level.options.option_6"
        },
        {
          "value": "7",
          "label": "t:settings_schema.appearance.round_level.options.option_7"
        },
        {
          "value": "8",
          "label": "t:settings_schema.appearance.round_level.options.option_8"
        }
      ],
      "default": "default",
      "label": "t:settings_schema.appearance.round_level.label"
    },
    {
      "type": "select",
      "id": "color_scheme_variant",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
        },
        {
          "value": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_variant.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "2",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' }}"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "default": false,
      "label": "t:sections.general_section_settings.enable_background_around_container_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' and settings.default_color_scheme != section.settings.color_scheme }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.paddings.header_title"
    },
    {
      "type": "checkbox",
      "id": "add_desktop_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.desktop_label"
    },
    {
      "type": "checkbox",
      "id": "add_mobile_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.mobile_label"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_top.label"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog_posts.name"
    }
  ]
}
{% endschema %}
