{%- liquid
  assign options = section.settings
  assign round_level = options.round_level
  assign color_scheme = settings.default_color_scheme
  if options.color_scheme_variant == 'own'
    assign color_scheme = options.color_scheme
  endif

  assign section_img_ratio = options.img_ratio
  assign section_img_ratio_resize = options.img_ratio_resize
  if section_img_ratio != 'default' and section_img_ratio_resize == 'fit'
    assign section_img_ratio = section_img_ratio_resize | append: '-' | append: options.img_ratio
  endif

  assign add_desktop_side_paddings = options.add_desktop_side_paddings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign total_compare_at_price = 0

  for item in cart.items
    if item.variant.compare_at_price > item.variant.price
      assign sale_amount = item.variant.compare_at_price | minus: item.variant.price
      assign sale_amount_total = sale_amount | times: item.quantity
      assign total_compare_at_price = total_compare_at_price | plus: sale_amount_total
    endif
  endfor

  assign full_price = cart.original_total_price | plus: total_compare_at_price

  assign detected_discounts = ''
  assign final_discounts = ''
  assign final_discounts_amount = total_compare_at_price

  for item in cart.items
    for discount in item.discounts
      assign detected_discounts = detected_discounts | append: discount.title | append: '//' | append: discount.total_amount | append: ','
    endfor
  endfor
  assign detected_discounts = detected_discounts | split: ','

  for detected_discount_1 in detected_discounts
    assign detected_discount_1_info = detected_discount_1 | split: '//'
    assign detected_discount_1_name = detected_discount_1_info[0]

    unless final_discounts contains detected_discount_1_name
      assign final_discount_name = detected_discount_1_name
      assign final_discount_amount = 0

      for detected_discount_2 in detected_discounts
        assign detected_discount_2_info = detected_discount_2 | split: '//'
        assign detected_discount_2_name = detected_discount_2_info[0]
        assign detected_discount_2_amount = detected_discount_2_info[1]

        if final_discount_name == detected_discount_2_name
          assign final_discount_amount = final_discount_amount | plus: detected_discount_2_amount
        endif
      endfor

      assign final_discounts = final_discounts | append: final_discount_name | append: '//' | append: final_discount_amount | append: ','
      assign final_discounts_amount = final_discounts_amount | plus: final_discount_amount
    endunless
  endfor

  assign final_discounts = final_discounts | split: ','

  assign in_cart_related_block = section.blocks | where: 'type', 'in_cart_related' | first
  assign buttons_block = section.blocks | where: 'type', 'buttons' | first
  assign subtotal_block = section.blocks | where: 'type', 'subtotal' | first
  assign cart_layout = options.cart_layout
  assign empty_cart_button_url = options.empty_cart_button_url
  assign enable_content_slide_in = settings.enable_content_slide_in
  assign subtotal_extra_margin = false
  assign order_notes_extra_margin = false
  assign buttons_extra_margin = false

  if cart_layout == 'on_column'
    assign subtotal_next_index = section.blocks | find_index: 'type', 'subtotal' | plus: 1
    assign on_column_subtotal_animation_order = subtotal_next_index
    if section.blocks[subtotal_next_index].type == 'buttons' or section.blocks[subtotal_next_index].type == 'order_notes'
      assign subtotal_extra_margin = true
    endif

    assign order_notes_next_index = section.blocks | find_index: 'type', 'order_notes' | plus: 1
    if section.blocks[order_notes_next_index].type == 'buttons' or section.blocks[order_notes_next_index].type == 'subtotal'
      assign order_notes_extra_margin = true
    endif

    assign buttons_next_index = section.blocks | find_index: 'type', 'buttons' | plus: 1
    if section.blocks[buttons_next_index].type == 'order_notes' or section.blocks[buttons_next_index].type == 'subtotal'
      assign buttons_extra_margin = true
    endif
  else
    assign start_animation_order = 0
    for block in section.blocks
      case block.type
        when 'subtotal'
          assign side_subtotal_animation_order = start_animation_order
        when 'buttons'
          assign side_buttons_animation_order = start_animation_order
        when 'order_notes'
          assign side_order_notes_animation_order = start_animation_order
      endcase
      assign start_animation_order = start_animation_order | plus: 1
    endfor
  endif
-%}

{%- liquid
  assign show_background = section.settings.show_background
  assign color_container_background = false

  if show_background == false and settings.default_color_scheme.settings.background != section.settings.color_scheme.settings.background
    assign color_container_background = true
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}} {
        --gsc-section-spacing-top: var(--gsc-padding-block-{{ section_spacing_top }});
        --gsc-section-spacing-bottom: var(--gsc-padding-block-{{ section_spacing_bottom }});
    }

    .cart__in-cart-related-products {
      --gsc-space-between-cards: var(--gsc-gap-{{ in_cart_related_block.settings.space_between_cards_mobile }});  
    }

    @media {% render 'media-queries', screen: 'md' %} {
      .cart__in-cart-related-products {
        --gsc-space-between-cards: var(--gsc-gap-{{ in_cart_related_block.settings.space_between_cards }});  
      }
    }
    
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<div class='hidden'>
  <div id='NewCartCount'>
    {%- if cart != empty -%}
      <div class='cart-count {% if cart.item_count > 9 %}cart-count--ellipse{% endif %}'>
        <span aria-hidden='true'>{{ cart.item_count }}</span>
      </div>
    {%- endif -%}
  </div>
</div>

{% capture buttons %}
  <cart-buttons-block
    class='cart__block cart-subtotal__buttons'
    block-id='{{ buttons_block.id }}'
    {{ buttons_block.shopify_attributes }}
  >
    {%- if cart != empty -%}
      <button
        type='submit'
        id='checkout'
        class='btn btn--{{buttons_block.settings.checkout_button_style}} btn--lg cart-buttons__btn'
        name='checkout'
        form='CartPageForm'
        data-cart-page-checkout-button
        aria-label='{{ 'general.subtotal.screen_reader.text_for_checkout_button' | t }}'
        {% if cart == empty %}
          disabled
        {% endif %}
        {% if settings.show_consent_checkbox %}
          data-consent-verify="false"
        {% endif %}
      >
        <span data-button-text>
          {{- 'general.subtotal.store_front.text_for_checkout_button' | t -}}
        </span>
        <div class='loading-spinner btn__loading-spinner'></div>
      </button>
    {%- endif -%}
  </cart-buttons-block>              
{% endcapture %}

{% capture buttons_in_subtotal %}
  <cart-buttons-block
    class='cart__block cart-subtotal__buttons'
    block-id='{{ buttons_block.id }}'
    {{ buttons_block.shopify_attributes }}
  >
    {%- if cart != empty -%}
      <button
        type='submit'
        id='checkout'
        class='btn btn--{{subtotal_block.settings.checkout_button_style}} btn--lg cart-buttons__btn'
        name='checkout'
        form='CartPageForm'
        data-cart-page-checkout-button
        aria-label='{{ 'general.subtotal.screen_reader.text_for_checkout_button' | t }}'
        {% if cart == empty %}
          disabled
        {% endif %}
        {% if settings.show_consent_checkbox %}
          data-consent-verify="false"
        {% endif %}
      >
        <span data-button-text>
          {{- 'general.subtotal.store_front.text_for_checkout_button' | t -}}
        </span>
        <div class='loading-spinner btn__loading-spinner'></div>
      </button>
    {%- endif -%}
  </cart-buttons-block>              
{% endcapture %}

{%- if additional_checkout_buttons -%}
  {% capture dynamic_checkout_buttons %}
    <div
      class='dynamic-checkout-buttons dynamic-checkout-buttons--cart-page additional-checkout-buttons--vertical'
      {% if settings.show_consent_checkbox %}
        data-consent-verify="false"
      {% endif %}
    >
      {{ content_for_additional_checkout_buttons }}
    </div>
  {% endcapture %}
{%- endif -%}

{% capture payment_icons %}
  <div class='cart-subtotal__payment-icons-wrapper'>
    <p class='cart-subtotal__payment-icons-label'>
      {{ 'general.subtotal.store_front.payment_icon_title' | t }}
    </p>

    <div class='cart-subtotal__payment-icons'>
      {%- for type in shop.enabled_payment_types -%}
        {{ type | payment_type_svg_tag }}
      {%- endfor -%}
    </div>
  </div>
{% endcapture %}

{% capture subtotal %}
  {% liquid
    assign background_style = subtotal_block.settings.background_style
    assign show_currency_code = subtotal_block.settings.show_currency_code
    assign show_payment_icons = subtotal_block.settings.show_payment_icons
    assign show_subtotal_buttons = subtotal_block.settings.show_subtotal_buttons
    assign show_subtotal_dynamic_buttons = subtotal_block.settings.show_subtotal_dynamic_buttons

    if cart_layout == 'on_column'
      assign subtotal_animation_order = on_column_subtotal_animation_order
    else
      assign subtotal_animation_order = side_subtotal_animation_order
    endif
  %}

  <cart-subtotal-block class='cart__block cart__block--subtotal {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %} {% if subtotal_extra_margin %}cart__extra-margin{% endif %}'
    block-id='{{ subtotal_block.id }}'
    {% if enable_content_slide_in %}
      style='--gsc-animation-order: {{ subtotal_animation_order }};' 
    {% endif %}
    {{ subtotal_block.shopify_attributes }}
  >
    {%- if cart != empty -%}
      <div class='cart-subtotal'>
        <div class='cart-subtotal__main-content--{{ background_style }}'>
          {% if full_price > cart.total_price %}
            <div class='cart-subtotal__items'>
              <accordeon-component
                class='cart-subtotal__sale'
                data-aria-expanded='true'
              >
                <accordeon-button class='cart-subtotal__sale-label' tabindex='0'>
                  <span class='cart-subtotal__sale-label-name'>
                    {{-
                      'general.subtotal.store_front.label_for_subtotal_price_html'
                      | t: count: cart.item_count
                    -}}
                    {% render 'icon', icon_name: 'chevron', class: 'cart-subtotal__sale-label-icon' %}
                  </span>
                  <span class='cart-subtotal__sale-label-amount'>
                    {% if show_currency_code %}
                      {{- full_price | money_with_currency -}}
                    {% else %}
                      {{- full_price | money -}}
                    {% endif %}
                  </span>
                </accordeon-button>
                <div class='cart-subtotal__sale-content-wrap' data-accordeon-content-wrap>
                  <div
                    class='cart-subtotal__sale-content'
                    data-accordeon-content
                  >
                    {% if total_compare_at_price != 0 %}
                      <div class='cart-subtotal__sale-item'>
                        <span class='cart-subtotal__sale-item-name'>
                          {{- 'general.subtotal.store_front.label_for_sale_price' | t -}}
                        </span>
                        <span class='cart-subtotal__sale-item-amount'>
                          {% if show_currency_code %}
                            {{- total_compare_at_price | money_with_currency | prepend: '-' -}}
                          {% else %}
                            {{- total_compare_at_price | money | prepend: '-' -}}
                          {% endif %}
                        </span>
                      </div>
                    {% endif %}
                    {% for final_discount in final_discounts %}
                      {% assign final_discount_info = final_discount | split: '//' %}
                      {% assign final_discount_name = final_discount_info[0] %}
                      {% assign final_discount_amount = final_discount_info[1] %}

                      <div class='cart-subtotal__sale-item'>
                        <span class='cart-subtotal__sale-item-name' title="{{ final_discount_name }}">{{- final_discount_name -}}</span>
                        <span class='cart-subtotal__sale-item-amount'>
                          {% if show_currency_code %}
                            {{- final_discount_amount | money_with_currency | prepend: '-' }}
                          {% else %}
                            {{- final_discount_amount | money | prepend: '-' }}
                          {% endif %}
                        </span>
                      </div>
                    {% endfor %}
                    {%- for discount in cart.cart_level_discount_applications -%}
                      <div class='cart-subtotal__sale-item'>
                        <span class='cart-subtotal__sale-item-name' title="{{ discount.title }}">
                          {{ discount.title }}
                        </span>
                        <span class='cart-subtotal__sale-item-amount'>
                          {% if show_currency_code %}
                            -{{ discount.total_allocated_amount | money_with_currency -}}
                          {% else %}
                            -{{ discount.total_allocated_amount | money -}}
                          {% endif %}
                        </span>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              </accordeon-component>
            </div>
          {% endif %}
          <h6 class='cart-subtotal__totals'>
            <div class='cart-subtotal__totals-price-label'>
              {{ 'general.subtotal.store_front.label_for_total_price' | t }}
            </div>
            <div class='cart-subtotal__totals-price'>
              {% if show_currency_code %}
                {{ cart.total_price | money_with_currency }}
              {% else %}
                {{ cart.total_price | money }}
              {% endif %}
            </div>
          </h6>
          {%- if subtotal_block.settings.show_taxes_and_shipping_costs -%}
            <div class='cart-subtotal__taxes'>
              {% render 'taxes-included-label' %}
            </div>
          {%- endif -%}

          <div class='cart-buttons-wrapper'>
            {% if settings.show_consent_checkbox and show_subtotal_buttons or show_subtotal_dynamic_buttons and dynamic_checkout_buttons != blank %}
              {% render 'consent-checkbox',
                id: 'Subtotal__ConsentCheckboxId',
                class: 'cart-subtotal__consent-checkbox',
                text: settings.consent_checkbox_text
              %}
            {% endif %}
            
            {%- if show_subtotal_buttons -%}
              {{buttons_in_subtotal}}
            {%- endif -%}          

            {% if show_subtotal_dynamic_buttons %}
              {{dynamic_checkout_buttons}}
            {% endif %}

            {%- if show_payment_icons and shop.enabled_payment_types.size > 0 -%}
              {{payment_icons}}
            {%- endif -%}
          </div>

          {% render 'cart-order-notes',
            class:  'cart-subtotal__cart-order-notes',
            view_variant: 'inside-subtotal',
            show_order_note: subtotal_block.settings.show_subtotal_order_note,
            show_discount_code: subtotal_block.settings.show_discount_code,
            show_shipping_calculator: subtotal_block.settings.show_subtotal_shipping_calculator,
            background_style: subtotal_block.settings.background_style
          %}
        </div>
      </div>
    {%- endif -%}
  </cart-subtotal-block>
{% endcapture %}

<cart-page
  class='cart {% if round_level != 'default' %}round-level-{{round_level}}{% endif %} color-{{ color_scheme }} section-{{ section.id }} spacing-block {% if add_desktop_side_paddings %}spacing-inline-desktop{% endif %} {% if color_container_background == false %}section-background{% endif %}'
  id='CartPage'
  data-section-id='{{ section.id }}'
  {% if cart == empty %}
    is-empty
  {% endif %}
>
  <div class='container container--{{ options.container_size }} {% if color_container_background %}container-background{% endif %}'>
    {%- if settings.cart_free_shipping_bar_visible -%}
      <cart-free-shipping-bar-block
        class='cart__free-shipping-bar {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 1;'
        {% endif %}
        data-cart-page-free-shipping-bar
      >
        {%- if cart != empty -%}
          {% render 'free-shipping-bar', inside_sidebar: false %}
        {%- endif -%}
      </cart-free-shipping-bar-block>
    {%- endif -%}
    {% if section.blocks.size > 0 %}
      <div class='cart__blocks'>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'countdown' %}
              <cart-countdown-block
                class='cart__block block-{{ block.id }} hidden color-{{ block.settings.color_scheme }} {% if block.settings.content_alignment == 'right' %}cart__block--with-timer-on-right{% endif %} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                {% if enable_content_slide_in %}
                  style='--gsc-animation-order: {{forloop.index}};'
                {% endif %}
                block-id='{{ block.id }}'
                {{ block.shopify_attributes }}
              >
                {%- unless cart == empty and block.settings.hide_for_empty_cart -%}
                  {% render 'timer-block', block: block %}
                {%- endunless -%}
              </cart-countdown-block>
            {% when 'in_cart_related' %}
              {% liquid
                assign img_ratio = section_img_ratio

                if block.settings.img_ratio != 'inherited'
                  assign img_ratio = block.settings.img_ratio
                  assign img_ratio_resize = block.settings.img_ratio_resize

                  if img_ratio_resize == 'fit'
                    assign img_ratio = img_ratio_resize | append: '-' | append: block.settings.img_ratio
                  endif
                endif

                assign content_alignment = block.settings.content_alignment
                assign with_background = block.settings.cards_color_background
                assign autoplay_mode = block.settings.autoplay_mode
                assign autoplay_interval = block.settings.autoplay_interval
                assign show_arrows_on_hover = block.settings.show_arrows_on_hover

                assign block_color_scheme = color_scheme
                if block.settings.color_scheme_variant == 'own'
                  assign block_color_scheme = block.settings.color_scheme
                endif
              %}

              <cart-related-products-block
                class='cart__block color-{{ block_color_scheme }} {% if cart == empty and block.settings.hide_for_empty_cart %} hidden {% endif %} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                {% if enable_content_slide_in %}
                  style='--gsc-animation-order: {{forloop.index}};'
                {% endif %}
                block-id='{{ block.id }}'
                {% if block.settings.recommendations_type == 'auto' %}
                  is-auto-recommendations
                {% endif %}
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.recommendations_type == 'auto' -%}
                  <cart-related-products
                    class='cart__in-cart-related-products color-{{ block.settings.color_scheme }} {% if block.settings.enable_color_background %} cart__in-cart-related-products--with-background {% endif %}'
                    data-url='{%- if cart.items.size > 0 -%}{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ cart.items[0].product_id }}&limit={{ block.settings.cards_to_show }}{%- endif -%}'
                    id='CartPage-{{ block.id }}-{{ section.id }}'
                    data-cart-related-products
                  >
                    {%- unless cart == empty and block.settings.hide_for_empty_cart -%}
                      {% if block.settings.heading != blank %}
                        <h6 class='cart__in-cart-related-products-heading cart__in-cart-related-products-heading--with-{{ block.settings.heading_alignment }}-alignment {{ block.settings.heading_size }}'>
                          {{ block.settings.heading }}
                        </h6>
                      {% endif %}
                      {%- if recommendations.performed and recommendations.products_count > 0 -%}
                        <slider-grid
                          class='slider-grid {% if show_arrows_on_hover %}card-carousel--navigation-on-hover{% endif %}'
                          {% if autoplay_mode != 'disabled' %}
                            autoplay-mode='{{autoplay_mode}}'
                            autoplay-interval='{{autoplay_interval}}'
                          {% endif %}
                        >
                          <div
                            slider-grid-track
                            class='slider-grid-track slider-grid__d-carousel slider-grid__m-carousel'
                          >
                            {%- for recommendation in recommendations.products -%}
                              <div class='slider-grid__slide cart__in-cart-related-products-slide' slider-grid-slide>
                                {% render 'vertical-product-card',
                                  product: recommendation,
                                  img_ratio: img_ratio,
                                  with_bottom_spacing: false,
                                  content_alignment: content_alignment,
                                  with_background: with_background,
                                  is_inside_block_with_background: block.settings.enable_color_background,
                                  hide_product_prices: block.settings.hide_product_prices
                                %}
                              </div>
                            {%- endfor -%}
                          </div>

                          {% if recommendations.products_count > 3 %}
                            <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev {% if img_ratio == 'nature' %} card-carousel__position-btn-wrap--nature-img-ratio {% endif %}'>
                              <div class='shape shape--{{ img_ratio }}'>
                                <button
                                  type='button'
                                  class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev cart__in-cart-related-btn'
                                  data-direction='prev'
                                  tabindex='0'
                                  disabled
                                >
                                  {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' -%}
                                </button>
                              </div>
                            </div>

                            <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next {% if img_ratio == 'nature' %} card-carousel__position-btn-wrap--nature-img-ratio {% endif %}'>
                              <div class='shape shape--{{ img_ratio }}'>
                                <button
                                  type='button'
                                  class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next cart__in-cart-related-btn'
                                  data-direction='next'
                                  tabindex='0'
                                  disabled
                                >
                                  {%- render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' -%}
                                </button>
                              </div>
                            </div>
                          {% endif %}
                        </slider-grid>
                      {%- endif -%}
                      {%- render 'loading-overlay',
                        class: 'cart__related-products-preloader',
                        id: 'CartInCartRelatedProductsPreloader'
                      -%}
                    {%- endunless -%}
                  </cart-related-products>
                {%- elsif block.settings.recommendations_type == 'manually' -%}
                  {% liquid
                    assign manually_recommendation_products = block.settings.featured_products | default: block.settings.featured_collection.products

                    if manually_recommendation_products == blank
                      assign manually_recommendation_products = (1..block.settings.cards_to_show)
                    endif
                  %}

                  <div
                    class='cart__in-cart-related-products {% if block.settings.enable_color_background %} cart__in-cart-related-products--with-background {% endif %}'
                    is-ready
                    data-cart-related-products
                  >
                    {%- unless cart == empty and block.settings.hide_for_empty_cart -%}
                      {% if block.settings.heading != blank %}
                        <h6 class='cart__in-cart-related-products-heading cart__in-cart-related-products-heading--with-{{ block.settings.heading_alignment }}-alignment {{ block.settings.heading_size }}'>
                          {{ block.settings.heading }}
                        </h6>
                      {% endif %}

                      <slider-grid
                        class='slider-grid {% if show_arrows_on_hover %}card-carousel--navigation-on-hover{% endif %}'
                        {% if autoplay_mode != 'disabled' %}
                          autoplay-mode='{{autoplay_mode}}'
                          autoplay-interval='{{autoplay_interval}}'
                        {% endif %}
                      >
                        <div
                          slider-grid-track
                          class='slider-grid-track slider-grid__d-carousel slider-grid__m-carousel'
                        >
                          {%- for product in manually_recommendation_products limit: block.settings.cards_to_show -%}
                            <div class='slider-grid__slide cart__in-cart-related-products-slide' slider-grid-slide>
                              {% render 'vertical-product-card',
                                product: product,
                                img_ratio: img_ratio,
                                with_bottom_spacing: false,
                                content_alignment: content_alignment,
                                with_background: with_background,
                                is_inside_block_with_background: block.settings.enable_color_background,
                                hide_product_prices: block.settings.hide_product_prices
                              %}
                            </div>
                          {%- endfor -%}
                        </div>

                        {% if manually_recommendation_products.count > 3 %}
                          <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev {% if img_ratio == 'nature' %} card-carousel__position-btn-wrap--nature-img-ratio {% endif %}'>
                            <div class='shape shape--{{ img_ratio }}'>
                              <button
                                type='button'
                                class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev cart__in-cart-related-btn'
                                data-direction='prev'
                                tabindex='0'
                                disabled
                              >
                                {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' -%}
                              </button>
                            </div>
                          </div>

                          <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next {% if img_ratio == 'nature' %} card-carousel__position-btn-wrap--nature-img-ratio {% endif %}'>
                            <div class='shape shape--{{ img_ratio }}'>
                              <button
                                type='button'
                                class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next cart__in-cart-related-btn'
                                data-direction='next'
                                tabindex='0'
                                disabled
                              >
                                {%- render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' -%}
                              </button>
                            </div>
                          </div>
                        {% endif %}
                      </slider-grid>
                    {%- endunless -%}
                  </div>
                {%- endif -%}
              </cart-related-products-block>
            {% when 'order_notes' %}
              {% if cart != empty and cart_layout == 'on_column' %}
                {% liquid
                  assign cart_order_class = 'cart__cart-order-notes'

                  if enable_content_slide_in
                    assign cart_order_class = cart_order_class | append: ' scroll-trigger animate--slide-in'
                    assign cart_order_style = '--gsc-animation-order: ' | append: forloop.index | append: ';'
                  endif

                  if order_notes_extra_margin
                    assign cart_order_class = cart_order_class | append: ' cart__extra-margin'
                  endif
                %}

                {% render 'cart-order-notes',
                  class: cart_order_class,
                  style: cart_order_style,
                  view_variant: 'inside-cart',
                  show_order_note: block.settings.show_order_note,
                  show_discount_code: block.settings.show_discount_code,
                  show_shipping_calculator: block.settings.show_shipping_calculator,
                  background_style: block.settings.background_style
                %}
              {% endif %}
            {% when '@app' %}
              <cart-app-block
                class='cart__block'
                block-id='{{ block.id }} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                {% if enable_content_slide_in %}
                  style='--gsc-animation-order: {{forloop.index}};'
                {% endif %}
                {{ block.shopify_attributes }}
              >
                {%- if cart != empty -%}
                  {% render block %}
                {%- endif -%}
              </cart-app-block>
            {% when 'buttons' %}
              {%- if cart != empty and cart_layout == 'on_column' -%}
                <div
                  class='cart-buttons-wrapper {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %} {% if buttons_extra_margin %}cart__extra-margin{% endif %}'
                  {% if enable_content_slide_in %}
                    style='--gsc-animation-order: {{forloop.index}};'
                  {% endif %}
                >
                  {% if settings.show_consent_checkbox %}
                    {% render 'consent-checkbox',
                      id: 'Buttons__ConsentCheckboxId',
                      class: 'cart__consent-checkbox',
                      text: settings.consent_checkbox_text
                    %}
                  {% endif %}

                  {{ buttons }}

                  {% if block.settings.show_buttons_dynamic_buttons %}
                    {{ dynamic_checkout_buttons }}
                  {% endif %}

                  {%- if block.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
                    {{ payment_icons }}
                  {%- endif -%}
                </div>
              {%- endif -%}

            {% when 'subtotal' %}
              {% if cart_layout == 'on_column' %}
                {{ subtotal }}
              {% endif %}
            {% when 'in_cart_banner' %}
              <cart-in-cart-banner-block
                class='cart__block {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                {% if enable_content_slide_in %}
                  style='--gsc-animation-order: {{forloop.index}};'
                {% endif %}
                block-id='{{ block.id }}'
                {{ block.shopify_attributes }}
              >
                {%- unless cart == empty and block.settings.hide_for_empty_cart -%}
                  {% render 'in-cart-banner', section: section, block: block, class: 'cart__in-cart-banner' %}
                {%- endunless -%}
              </cart-in-cart-banner-block>
            {% when 'items' %}
              <cart-items-block
                class='cart__block {% if cart_layout == 'on_side' %}cart__items-with-subtotal{% endif %} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                {% if enable_content_slide_in %}
                  style='--gsc-animation-order: {{forloop.index}};'
                {% endif %}
                block-id='{{ block.id }}'
                {{ block.shopify_attributes }}
              >
                {%- if cart != blank -%}
                  <div class='cart-items'>
                    <div class='cart-items__header'>
                      <h6 class='cart-items__header-title h5'>{{ 'general.cart_items.store_front.title' | t }}</h6>
                      <span class='cart-items__header-product-count'>
                        {{ 'general.cart_items.store_front.product_count' | t: count: cart.item_count }}
                      </span>
                    </div>
                    <div class='cart-items__params'>
                      <div class='cart-items__left-side-params'>
                        <div class='cart-items__params-item'>
                          {{ 'general.cart_items.store_front.product_label' | t }}
                        </div>
                      </div>
                      <div class='cart-items__right-side-params'>
                        <div class='cart-items__params-item cart-items__params-item--total-param'>
                          {{ 'general.cart_items.store_front.total_label' | t }}
                        </div>
                        <div class='cart-items__params-item cart-items__params-item--quantity'>
                          {{ 'general.cart_items.store_front.quantity_label' | t }}
                        </div>
                      </div>
                    </div>
                    <form class='cart-items__items' action='{{ routes.cart_url }}' method='post' id='CartPageForm'>
                      {%- for item in cart.items -%}
                        {% render 'cart-item', item: item, img_ratio: section_img_ratio %}
                      {%- endfor -%}
                    </form>
                  </div>

                  {% if cart_layout == 'on_side' %}
                    <div class='cart__block--on-side-subtotal'>
                      {% for block in section.blocks %}
                        {% case block.type %}
                          {% when 'subtotal' %}
                            {{ subtotal }}
                          {% when 'order_notes' %}
                            {% liquid
                              assign cart_order_class = 'cart__cart-order-notes'
                              if enable_content_slide_in
                                assign cart_order_class = cart_order_class | append: ' scroll-trigger animate--slide-in'
                                assign cart_order_style = '--gsc-animation-order: ' | append: side_order_notes_animation_order | append: ';'
                              endif
                            %}

                            {% render 'cart-order-notes',
                              class: cart_order_class,
                              style: cart_order_style,
                              view_variant: 'inside-cart',
                              show_order_note: block.settings.show_order_note,
                              show_discount_code: block.settings.show_discount_code,
                              show_shipping_calculator: block.settings.show_shipping_calculator,
                              background_style: block.settings.background_style
                            %}

                          {% when 'buttons' %}
                            <div
                              class='cart-buttons-wrapper {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                              {% if enable_content_slide_in %}
                                style='--gsc-animation-order: {{ side_buttons_animation_order }};'
                              {% endif %}
                            >
                              {% if settings.show_consent_checkbox %}
                                {% render 'consent-checkbox',
                                  id: 'Buttons__ConsentCheckboxId',
                                  class: 'cart-subtotal-side__consent-checkbox',
                                  text: settings.consent_checkbox_text
                                %}
                              {% endif %}

                              {{ buttons }}

                              {% if block.settings.show_buttons_dynamic_buttons %}
                                {{ dynamic_checkout_buttons }}
                              {% endif %}

                              {%- if block.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
                                {{ payment_icons }}
                              {%- endif -%}
                            </div>
                        {% endcase %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {%- else -%}
                  <div class='cart-warning'>
                    <h1
                      class='cart-warning__title h4 {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                      {% if enable_content_slide_in %}
                        style='--gsc-animation-order: 1;'
                      {% endif %}
                    >
                      {{ 'general.empty_cart_page.store_front.title' | t }}
                    </h1>

                    {% if empty_cart_button_url != blank %}
                      <a
                        href='{{ empty_cart_button_url }}'
                        class='btn btn--lg btn--primary cart-warning__link {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
                        {% if enable_content_slide_in %}
                          style='--gsc-animation-order: 2;'
                        {% endif %}
                        aria-label='{{ 'general.empty_cart_page.screen_reader.link_to_continue_shopping' | t }}'
                      >
                        {{ 'general.empty_cart_page.store_front.link_to_continue_shopping' | t }}
                      </a>
                    {% endif %}
                  </div>
                {%- endif -%}
              </cart-items-block>
          {% endcase %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</cart-page>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.cart.name",
  "tag": "section",
  "class": "cart-section",
  "blocks": [
    {
      "type": "countdown",
      "name": "t:sections.countdown_timer.blocks.timer.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_for_empty_cart",
          "default": true,
          "label": "t:sections.cart.blocks.countdown_timer.hide_for_empty_cart.label"
        },
        {
          "type": "select",
          "id": "mode",
          "label": "t:sections.countdown_timer.blocks.timer.mode.label",
          "default": "fixed",
          "options": [
            {
              "label": "t:sections.countdown_timer.blocks.timer.mode.fixed",
              "value": "fixed"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.mode.evergreen",
              "value": "evergreen"
            }
          ]
        },
        {
          "type": "select",
          "id": "year",
          "options": [
            { "value": "2025", "label": "2025" },
            { "value": "2026", "label": "2026" },
            { "value": "2027", "label": "2027" },
            { "value": "2028", "label": "2028" },
            { "value": "2029", "label": "2029" },
            { "value": "2030", "label": "2030" }
          ],
          "default": "2027",
          "label": "t:sections.countdown_timer.blocks.timer.year",
          "visible_if": "{{ block.settings.mode == 'fixed' }}"
        },
        {
          "type": "select",
          "id": "month",
          "options": [
            {
              "value": "january",
              "label": "t:sections.countdown_timer.blocks.timer.january"
            },
            {
              "value": "february",
              "label": "t:sections.countdown_timer.blocks.timer.february"
            },
            {
              "value": "march",
              "label": "t:sections.countdown_timer.blocks.timer.march"
            },
            {
              "value": "april",
              "label": "t:sections.countdown_timer.blocks.timer.april"
            },
            {
              "value": "may",
              "label": "t:sections.countdown_timer.blocks.timer.may"
            },
            {
              "value": "june",
              "label": "t:sections.countdown_timer.blocks.timer.june"
            },
            {
              "value": "july",
              "label": "t:sections.countdown_timer.blocks.timer.july"
            },
            {
              "value": "august",
              "label": "t:sections.countdown_timer.blocks.timer.august"
            },
            {
              "value": "september",
              "label": "t:sections.countdown_timer.blocks.timer.september"
            },
            {
              "value": "october",
              "label": "t:sections.countdown_timer.blocks.timer.october"
            },
            {
              "value": "november",
              "label": "t:sections.countdown_timer.blocks.timer.november"
            },
            {
              "value": "december",
              "label": "t:sections.countdown_timer.blocks.timer.december"
            }
          ],
          "default": "january",
          "label": "t:sections.countdown_timer.blocks.timer.month",
          "visible_if": "{{ block.settings.mode == 'fixed' }}"
        },
        {
          "type": "select",
          "id": "day",
          "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" },
            { "value": "3", "label": "3" },
            { "value": "4", "label": "4" },
            { "value": "5", "label": "5" },
            { "value": "6", "label": "6" },
            { "value": "7", "label": "7" },
            { "value": "8", "label": "8" },
            { "value": "9", "label": "9" },
            { "value": "10", "label": "10" },
            { "value": "11", "label": "11" },
            { "value": "12", "label": "12" },
            { "value": "13", "label": "13" },
            { "value": "14", "label": "14" },
            { "value": "15", "label": "15" },
            { "value": "16", "label": "16" },
            { "value": "17", "label": "17" },
            { "value": "18", "label": "18" },
            { "value": "19", "label": "19" },
            { "value": "20", "label": "20" },
            { "value": "21", "label": "21" },
            { "value": "22", "label": "22" },
            { "value": "23", "label": "23" },
            { "value": "24", "label": "24" },
            { "value": "25", "label": "25" },
            { "value": "26", "label": "26" },
            { "value": "27", "label": "27" },
            { "value": "28", "label": "28" },
            { "value": "29", "label": "29" },
            { "value": "30", "label": "30" },
            { "value": "31", "label": "31" }
          ],
          "default": "2",
          "label": "t:sections.countdown_timer.blocks.timer.day",
          "visible_if": "{{ block.settings.mode == 'fixed' }}"
        },
        {
          "type": "select",
          "id": "hour",
          "options": [
            { "value": "0", "label": "12 AM" },
            { "value": "1", "label": "01 AM" },
            { "value": "2", "label": "02 AM" },
            { "value": "3", "label": "03 AM" },
            { "value": "4", "label": "04 AM" },
            { "value": "5", "label": "05 AM" },
            { "value": "6", "label": "06 AM" },
            { "value": "7", "label": "07 AM" },
            { "value": "8", "label": "08 AM" },
            { "value": "9", "label": "09 AM" },
            { "value": "10", "label": "10 AM" },
            { "value": "11", "label": "11 AM" },
            { "value": "12", "label": "12 PM" },
            { "value": "13", "label": "01 PM" },
            { "value": "14", "label": "02 PM" },
            { "value": "15", "label": "03 PM" },
            { "value": "16", "label": "04 PM" },
            { "value": "17", "label": "05 PM" },
            { "value": "18", "label": "06 PM" },
            { "value": "19", "label": "07 PM" },
            { "value": "20", "label": "08 PM" },
            { "value": "21", "label": "09 PM" },
            { "value": "22", "label": "10 PM" },
            { "value": "23", "label": "11 PM" }
          ],
          "default": "0",
          "label": "t:sections.countdown_timer.blocks.timer.hour",
          "visible_if": "{{ block.settings.mode == 'fixed' }}"
        },
        {
          "type": "select",
          "id": "minute",
          "options": [
            { "value": "0", "label": "00" },
            { "value": "1", "label": "01" },
            { "value": "2", "label": "02" },
            { "value": "3", "label": "03" },
            { "value": "4", "label": "04" },
            { "value": "5", "label": "05" },
            { "value": "6", "label": "06" },
            { "value": "7", "label": "07" },
            { "value": "8", "label": "08" },
            { "value": "9", "label": "09" },
            { "value": "10", "label": "10" },
            { "value": "11", "label": "11" },
            { "value": "12", "label": "12" },
            { "value": "13", "label": "13" },
            { "value": "14", "label": "14" },
            { "value": "15", "label": "15" },
            { "value": "16", "label": "16" },
            { "value": "17", "label": "17" },
            { "value": "18", "label": "18" },
            { "value": "19", "label": "19" },
            { "value": "20", "label": "20" },
            { "value": "21", "label": "21" },
            { "value": "22", "label": "22" },
            { "value": "23", "label": "23" },
            { "value": "24", "label": "24" },
            { "value": "25", "label": "25" },
            { "value": "26", "label": "26" },
            { "value": "27", "label": "27" },
            { "value": "28", "label": "28" },
            { "value": "29", "label": "29" },
            { "value": "30", "label": "30" },
            { "value": "31", "label": "31" },
            { "value": "32", "label": "32" },
            { "value": "33", "label": "33" },
            { "value": "34", "label": "34" },
            { "value": "35", "label": "35" },
            { "value": "36", "label": "36" },
            { "value": "37", "label": "37" },
            { "value": "38", "label": "38" },
            { "value": "39", "label": "39" },
            { "value": "40", "label": "40" },
            { "value": "41", "label": "41" },
            { "value": "42", "label": "42" },
            { "value": "43", "label": "43" },
            { "value": "44", "label": "44" },
            { "value": "45", "label": "45" },
            { "value": "46", "label": "46" },
            { "value": "47", "label": "47" },
            { "value": "48", "label": "48" },
            { "value": "49", "label": "49" },
            { "value": "50", "label": "50" },
            { "value": "51", "label": "51" },
            { "value": "52", "label": "52" },
            { "value": "53", "label": "53" },
            { "value": "54", "label": "54" },
            { "value": "55", "label": "55" },
            { "value": "56", "label": "56" },
            { "value": "57", "label": "57" },
            { "value": "58", "label": "58" },
            { "value": "59", "label": "59" }
          ],
          "default": "0",
          "label": "t:sections.countdown_timer.blocks.timer.minute",
          "visible_if": "{{ block.settings.mode == 'fixed' }}"
        },
        {
          "type": "checkbox",
          "id": "hide_on_complete",
          "default": true,
          "label": "t:sections.countdown_timer.blocks.timer.hide_on_complete",
          "visible_if": "{{ block.settings.mode == 'fixed' }}"
        },

        {
          "type": "select",
          "id": "evergreen_unit",
          "label": "t:sections.countdown_timer.blocks.timer.time_units_heading",
          "default": "day",
          "options": [
            {
              "label": "t:sections.countdown_timer.blocks.timer.days",
              "value": "day"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.hours",
              "value": "hour"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.minutes",
              "value": "minute"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.seconds",
              "value": "second"
            }
          ],
          "visible_if": "{{ block.settings.mode == 'evergreen' }}"
        },
        {
          "type": "number",
          "id": "evergreen_value",
          "label": "t:sections.countdown_timer.blocks.timer.time_value",
          "default": 1,
          "visible_if": "{{ block.settings.mode == 'evergreen' }}"
        },
        {
          "type": "select",
          "id": "evergreen_on_complete",
          "label": "t:sections.countdown_timer.blocks.timer.evergreen_on_complete",
          "default": "restart",
          "options": [
            {
              "label": "t:sections.countdown_timer.blocks.timer.on_complete_options.hide",
              "value": "hide"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.on_complete_options.restart",
              "value": "restart"
            },
            {
              "label": "t:sections.countdown_timer.blocks.timer.on_complete_options.wait_one_day",
              "value": "wait_one_day"
            }
          ],
          "visible_if": "{{ block.settings.mode == 'evergreen' }}"
        },
        {
          "type": "header",
          "content": "t:sections.countdown_timer.blocks.timer.style_header"
        },
        {
          "type": "range",
          "id": "timer_desktop_width",
          "min": 30,
          "max": 100,
          "step": 1,
          "default": 50,
          "unit": "t:sections.countdown_timer.blocks.timer.desktop_width.unit",
          "label": "t:sections.countdown_timer.blocks.timer.desktop_width.label"
        },
        {
          "type": "select",
          "id": "background_type",
          "options": [
            {
              "value": "hide",
              "label": "t:sections.countdown_timer.blocks.timer.background_hide"
            },
            {
              "value": "separate",
              "label": "t:sections.countdown_timer.blocks.timer.background_separate"
            },
            {
              "value": "common",
              "label": "t:sections.countdown_timer.blocks.timer.background_common"
            }
          ],
          "default": "separate",
          "label": "t:sections.countdown_timer.blocks.timer.background"
        },
        {
          "type": "select",
          "id": "background_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.countdown_timer.blocks.timer.background_solid"
            },
            {
              "value": "outline",
              "label": "t:sections.countdown_timer.blocks.timer.background_outline"
            }
          ],
          "default": "solid",
          "label": "t:sections.countdown_timer.blocks.timer.background_style",
          "visible_if": "{{ block.settings.background_type != 'hide' }}"
        },
        {
          "type": "range",
          "id": "outline_background_border_thickness",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1,
          "unit": "px",
          "label": "t:sections.general_section_settings.border_thickness",
          "visible_if": "{{ block.settings.background_type != 'hide' and block.settings.background_style == 'outline' }}"
        },
        {
          "type": "checkbox",
          "id": "enable_separators",
          "default": true,
          "label": "t:sections.countdown_timer.blocks.timer.show_separators"
        },
        {
          "type": "checkbox",
          "id": "captitalize_unit_labels",
          "default": true,
          "label": "t:sections.countdown_timer.blocks.timer.capitalize_unit_labels"
        },
        {
          "type": "header",
          "content": "t:sections.cart.content_header"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Countdown timer",
          "label": "t:sections.countdown_timer.blocks.heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "h4"
        },
        {
          "type": "inline_richtext",
          "id": "body",
          "label": "t:sections.cart.blocks.countdown_timer.body_label",
          "default": "Create urgency around sales and special offers"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body3"
        },
        {
          "type": "text",
          "id": "discount_code",
          "placeholder": "SNT5433274384",
          "label": "t:sections.general_section_settings.discount_code"
        },
        {
          "type": "text_alignment",
          "id": "content_alignment",
          "label": "t:sections.general_section_settings.heading_alignment_label",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.appearance.header_title"
        },
        {
          "type": "select",
          "id": "color_scheme_variant",
          "options": [
            {
              "value": "default",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
            },
            {
              "value": "own",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
            }
          ],
          "default": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "2",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "visible_if": "{{ block.settings.color_scheme_variant == 'own' }}"
        },
        {
          "type": "checkbox",
          "id": "show_background",
          "default": true,
          "label": "t:sections.general_section_settings.enable_background_around_container_label",
          "visible_if": "{{ block.settings.color_scheme_variant != 'default' }}"
        }
      ]
    },
    {
      "type": "@app"
    },
    {
      "type": "in_cart_related",
      "name": "t:sections.cart.blocks.in_cart_related.name",
      "settings": [
        {
          "type": "radio",
          "id": "recommendations_type",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.general_section_settings.recommendations_type.options.auto"
            },
            {
              "value": "manually",
              "label": "t:sections.general_section_settings.recommendations_type.options.manual"
            }
          ],
          "default": "auto",
          "label": "t:sections.general_section_settings.recommendations_type.source_label",
          "info": "t:sections.general_section_settings.recommendations_type.info"
        },
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "t:sections.general_section_settings.recommendations_type.collection_label"
        },
        {
          "type": "product_list",
          "id": "featured_products",
          "label": "t:sections.general_section_settings.recommendations_type.products_label",
          "info": "t:sections.general_section_settings.recommendations_type.products_info"
        },
        {
          "type": "range",
          "id": "cards_to_show",
          "min": 1,
          "max": 20,
          "step": 1,
          "default": 10,
          "label": "t:sections.cart.blocks.in_cart_related.cards_to_show.label"
        },
        {
          "type": "select",
          "id": "space_between_cards",
          "options": [
            {
              "value": "none",
              "label": "t:sections.general_section_settings.gap.options.none"
            },
            {
              "value": "xxxs",
              "label": "t:sections.general_section_settings.gap.options.xxxs"
            },
            {
              "value": "xxs",
              "label": "t:sections.general_section_settings.gap.options.xxs"
            },
            {
              "value": "xs",
              "label": "t:sections.general_section_settings.gap.options.xs"
            },
            {
              "value": "s",
              "label": "t:sections.general_section_settings.gap.options.s"
            },
            {
              "value": "m",
              "label": "t:sections.general_section_settings.gap.options.m"
            },
            {
              "value": "l",
              "label": "t:sections.general_section_settings.gap.options.l"
            },
            {
              "value": "xl",
              "label": "t:sections.general_section_settings.gap.options.xl"
            },
            {
              "value": "xxl",
              "label": "t:sections.general_section_settings.gap.options.xxl"
            },
            {
              "value": "xxxl",
              "label": "t:sections.general_section_settings.gap.options.xxxl"
            }
          ],
          "default": "m",
          "label": "t:sections.general_section_settings.gap.label.gap"
        },
        {
          "type": "select",
          "id": "space_between_cards_mobile",
          "options": [
            {
              "value": "none",
              "label": "t:sections.general_section_settings.gap.options.none"
            },
            {
              "value": "xxs",
              "label": "t:sections.general_section_settings.gap.options.xxxs"
            },
            {
              "value": "xs",
              "label": "t:sections.general_section_settings.gap.options.xxs"
            },
            {
              "value": "m",
              "label": "t:sections.general_section_settings.gap.options.xs"
            },
            {
              "value": "l",
              "label": "t:sections.general_section_settings.gap.options.s"
            },
            {
              "value": "xl",
              "label": "t:sections.general_section_settings.gap.options.m"
            },
            {
              "value": "xxl",
              "label": "t:sections.general_section_settings.gap.options.l"
            },
            {
              "value": "xxxl",
              "label": "t:sections.general_section_settings.gap.options.xl"
            }
          ],
          "default": "m",
          "label": "t:sections.general_section_settings.gap.label.gap_mobile"
        },
        {
          "type": "checkbox",
          "id": "hide_for_empty_cart",
          "default": true,
          "label": "t:sections.cart.blocks.in_cart_related.hide_for_empty_cart.label"
        },
        {
          "type": "header",
          "content": "t:sections.cart_drawer.blocks.in_cart_related.heading.header"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.cart.blocks.in_cart_related.heading.label",
          "default": "You may also like"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "h6"
        },
        {
          "type": "text_alignment",
          "id": "heading_alignment",
          "label": "t:sections.general_section_settings.heading_alignment_label",
          "default": "left"
        },
        {
          "type": "header",
          "content": "t:sections.cart.blocks.in_cart_related.cards_settings_header.content"
        },
        {
          "type": "select",
          "id": "img_ratio",
          "options": [
            {
              "value": "inherited",
              "label": "t:sections.general_section_settings.img_ratio_option_inherited_label"
            },
            {
              "value": "square",
              "label": "t:sections.general_section_settings.img_ratio_option_square_label"
            },
            {
              "value": "portrait",
              "label": "t:sections.general_section_settings.img_ratio_option_portrait_label"
            },
            {
              "value": "portrait-xl",
              "label": "t:sections.general_section_settings.img_ratio_option_portrait_xl_label"
            },
            {
              "value": "landscape",
              "label": "t:sections.general_section_settings.img_ratio_option_landscape_label"
            }
          ],
          "default": "inherited",
          "label": "t:sections.general_section_settings.ratio_label"
        },
        {
          "type": "select",
          "id": "img_ratio_resize",
          "options": [
            {
              "value": "fill",
              "label": "t:sections.general_section_settings.card_img_resize_fill_label"
            },
            {
              "value": "fit",
              "label": "t:sections.general_section_settings.card_img_resize_fit_label"
            }
          ],
          "default": "fill",
          "label": "t:sections.general_section_settings.card_img_resize_label",
          "visible_if": "{{ block.settings.img_ratio != 'inherited' }}"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:sections.cart.blocks.in_cart_related.content_alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.cart.blocks.in_cart_related.content_alignment.options.option_1"
            },
            {
              "value": "center",
              "label": "t:sections.cart.blocks.in_cart_related.content_alignment.options.option_2"
            }
          ],
          "default": "left"
        },
        {
          "type": "checkbox",
          "id": "hide_product_prices",
          "default": false,
          "label": "t:sections.general_section_settings.hide_product_prices"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.carousel-settings.label"
        },
        {
          "type": "select",
          "id": "autoplay_mode",
          "options": [
            {
              "value": "disabled",
              "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_1"
            },
            {
              "value": "one_at_time",
              "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_3"
            },
            {
              "value": "seamless",
              "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_2"
            }
          ],
          "default": "disabled",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.label"
        },
        {
          "type": "range",
          "id": "autoplay_interval",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 3,
          "unit": "t:sections.general_section_settings.carousel-settings.autoplay_interval.unit",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_interval.label",
          "visible_if": "{{ block.settings.autoplay_mode != 'disabled' }}"
        },
        {
          "type": "checkbox",
          "id": "show_arrows_on_hover",
          "default": true,
          "label": "t:sections.general_section_settings.carousel-settings.show_arrows_on_hover.label"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.appearance.header_title"
        },
        {
          "type": "select",
          "id": "color_scheme_variant",
          "options": [
            {
              "value": "default",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
            },
            {
              "value": "own",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
            }
          ],
          "default": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "2",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "visible_if": "{{ block.settings.color_scheme_variant == 'own' }}"
        },
        {
          "id": "enable_color_background",
          "type": "checkbox",
          "default": false,
          "label": "t:sections.cart.blocks.in_cart_related.enable_color_background.label",
          "visible_if": "{{ block.settings.color_scheme_variant == 'own' and settings.default_color_scheme != block.settings.color_scheme }}"
        },
        {
          "id": "cards_color_background",
          "type": "checkbox",
          "default": false,
          "label": "t:sections.cart.blocks.in_cart_related.cards_color_background.label"
        }
      ]
    },
    {
      "type": "order_notes",
      "name": "t:sections.cart.blocks.order_notes.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "background_style",
          "options": [
            {
              "value": "clean",
              "label": "t:sections.cart.blocks.order_notes.background_style.options.option_3"
            },
            {
              "value": "solid",
              "label": "t:sections.cart.blocks.order_notes.background_style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.cart.blocks.order_notes.background_style.options.option_2"
            }
          ],
          "default": "solid",
          "label": "t:sections.cart.blocks.order_notes.background_style.label"
        },
        {
          "type": "checkbox",
          "id": "show_order_note",
          "default": true,
          "label": "t:sections.cart.blocks.order_notes.show_order_notes.label"
        },
        {
          "type": "checkbox",
          "id": "show_discount_code",
          "default": true,
          "label": "t:sections.cart.blocks.order_notes.show_discount_code"
        },
        {
          "type": "checkbox",
          "id": "show_shipping_calculator",
          "default": true,
          "label": "t:sections.cart.blocks.order_notes.show_shipping_calculator.label"
        }
      ]
    },
    {
      "type": "subtotal",
      "name": "t:sections.cart.blocks.subtotal.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "background_style",
          "options": [
            {
              "value": "clean",
              "label": "t:sections.cart.blocks.subtotal.background_style.options.option_3"
            },
            {
              "value": "solid",
              "label": "t:sections.cart.blocks.subtotal.background_style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.cart.blocks.subtotal.background_style.options.option_2"
            }
          ],
          "default": "solid",
          "label": "t:sections.cart.blocks.subtotal.background_style.label"
        },
        {
          "type": "checkbox",
          "id": "show_taxes_and_shipping_costs",
          "default": true,
          "label": "t:sections.cart.blocks.subtotal.show_taxes_and_shipping_costs.label"
        },
        {
          "type": "checkbox",
          "id": "show_currency_code",
          "default": true,
          "label": "t:sections.cart.blocks.subtotal.show_currency_code.label"
        },
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "default": false,
          "label": "t:sections.footer.show_payment_icons_label",
          "info": "t:sections.footer.show_payment_icons_info"
        },
        {
          "type": "checkbox",
          "id": "show_subtotal_order_note",
          "default": false,
          "label": "t:sections.cart.blocks.subtotal.show_order_notes.label"
        },
        {
          "type": "checkbox",
          "id": "show_discount_code",
          "default": true,
          "label": "t:sections.cart.blocks.subtotal.show_discount_code"
        },
        {
          "type": "checkbox",
          "id": "show_subtotal_shipping_calculator",
          "default": false,
          "label": "t:sections.cart.blocks.subtotal.show_shipping_calculator.label"
        },
        {
          "type": "checkbox",
          "id": "show_subtotal_buttons",
          "default": false,
          "label": "t:sections.cart.blocks.subtotal.show_subtotal_buttons.label"
        },
        {
          "type": "select",
          "id": "checkout_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.buttons.style.options.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.buttons.style.options.secondary"
            },
            {
              "value": "tertiary",
              "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
            }
          ],
          "default": "primary",
          "label": "t:sections.cart_drawer.buy_buttons.checkout_button_label",
          "visible_if": "{{ block.settings.show_subtotal_buttons == true }}"
        },
        {
          "type": "checkbox",
          "id": "show_subtotal_dynamic_buttons",
          "default": false,
          "label": "t:sections.cart.dynamic_buttons.add"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.cart.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "checkout_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.buttons.style.options.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.buttons.style.options.secondary"
            },
            {
              "value": "tertiary",
              "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
            }
          ],
          "default": "primary",
          "label": "t:sections.cart_drawer.buy_buttons.checkout_button_label"
        },
        {
          "type": "checkbox",
          "id": "show_buttons_dynamic_buttons",
          "default": true,
          "label": "t:sections.cart.dynamic_buttons.show"
        },
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "default": true,
          "label": "t:sections.footer.show_payment_icons_label",
          "info": "t:sections.footer.show_payment_icons_info"
        }
      ]
    },
    {
      "name": "t:sections.cart.blocks.items.name",
      "type": "items",
      "limit": 1
    },
    {
      "name": "t:sections.cart.blocks.in_cart_banner.name",
      "type": "in_cart_banner",
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_for_empty_cart",
          "default": true,
          "label": "t:sections.cart.blocks.in_cart_banner.hide_for_empty_cart.label"
        },
        {
          "type": "header",
          "content": "t:sections.cart.content_header"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "IN-CART",
          "label": "t:sections.cart.blocks.in_cart_banner.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Promo banner",
          "label": "t:sections.cart.blocks.in_cart_banner.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "h3"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Tell about upcoming sales, new in, promotions, and more.</p>",
          "label": "t:sections.cart.blocks.in_cart_banner.text.label"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body3"
        },
        {
          "type": "text",
          "id": "discount_code",
          "placeholder": "SNT5433274384",
          "label": "t:sections.general_section_settings.discount_code"
        },
        {
          "type": "text_alignment",
          "id": "content_align",
          "label": "t:sections.general_section_settings.heading_alignment_label",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:sections.cart.blocks.in_cart_banner.button_header"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "t:sections.general_section_settings.buttons.style.button_label"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "t:sections.general_section_settings.buttons.style.link_label"
        },
        {
          "type": "select",
          "id": "btn_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.buttons.style.options.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.buttons.style.options.secondary"
            },
            {
              "value": "tertiary",
              "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
            },
            {
              "value": "link",
              "label": "t:sections.general_section_settings.buttons.style.options.link"
            }
          ],
          "default": "primary",
          "label": "t:sections.general_section_settings.buttons.style.style_label"
        },
        {
          "type": "header",
          "content": "t:sections.cart.blocks.in_cart_banner.colors.label"
        },
        {
          "type": "select",
          "id": "colors_source",
          "options": [
            {
              "value": "default",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
            },
            {
              "value": "own",
              "label": "t:sections.cart.blocks.in_cart_banner.colors.source.own"
            },
            {
              "value": "custom",
              "label": "t:sections.cart.blocks.in_cart_banner.colors.source.custom"
            }
          ],
          "default": "own",
          "label": "t:sections.cart.blocks.in_cart_banner.colors.source.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "2",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "visible_if": "{{ block.settings.colors_source == 'scheme' }}"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:sections.cart.blocks.in_cart_banner.colors.text",
          "visible_if": "{{ block.settings.colors_source == 'custom' }}"
        },
        {
          "type": "color",
          "id": "color_background",
          "label": "t:sections.cart.blocks.in_cart_banner.colors.background",
          "visible_if": "{{ block.settings.colors_source == 'custom' }}"
        },
        {
          "type": "color_background",
          "id": "color_background_gradient",
          "label": "t:sections.cart.blocks.in_cart_banner.colors.background_gradient",
          "visible_if": "{{ block.settings.colors_source == 'custom' }}"
        },
        {
          "type": "color",
          "id": "color_button_label",
          "label": "t:sections.cart.blocks.in_cart_banner.colors.button_label",
          "visible_if": "{{ block.settings.colors_source == 'custom' }}"
        },
        {
          "type": "color",
          "id": "color_button_background",
          "label": "t:sections.cart.blocks.in_cart_banner.colors.button_background",
          "visible_if": "{{ block.settings.colors_source == 'custom' and block.settings.btn_style != 'link' }}"
        },
        {
          "type": "color_background",
          "id": "color_button_background_gradient",
          "label": "t:sections.cart.blocks.in_cart_banner.colors.button_background_gradient",
          "visible_if": "{{ block.settings.colors_source == 'custom' and block.settings.btn_style != 'link' }}"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "DON'T REMOVE the 'Items', 'Subtotal', and 'Buttons' blocks for correct cart operation"
    },
    {
      "type": "select",
      "id": "cart_layout",
      "options": [
        {
          "value": "on_column",
          "label": "t:sections.cart.cart_layout.options.option_2"
        },
        {
          "value": "on_side",
          "label": "t:sections.cart.cart_layout.options.option_1"
        }
      ],
      "default": "on_column",
      "label": "t:sections.cart.cart_layout.label"
    },
    {
      "type": "select",
      "id": "img_ratio",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.img_ratio_option_default_label"
        },
        {
          "value": "square",
          "label": "t:sections.general_section_settings.img_ratio_option_square_label"
        },
        {
          "value": "portrait",
          "label": "t:sections.general_section_settings.img_ratio_option_portrait_label"
        },
        {
          "value": "portrait-xl",
          "label": "t:sections.general_section_settings.img_ratio_option_portrait_xl_label"
        },
        {
          "value": "landscape",
          "label": "t:sections.general_section_settings.img_ratio_option_landscape_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.ratio_label"
    },
    {
      "type": "select",
      "id": "img_ratio_resize",
      "options": [
        {
          "value": "fill",
          "label": "t:sections.general_section_settings.card_img_resize_fill_label"
        },
        {
          "value": "fit",
          "label": "t:sections.general_section_settings.card_img_resize_fit_label"
        }
      ],
      "default": "fill",
      "label": "t:sections.general_section_settings.card_img_resize_label",
      "visible_if": "{{ section.settings.img_ratio != 'default' }}"
    },
    {
      "type": "header",
      "content": "t:sections.cart.empty_cart_button_label"
    },
    {
      "type": "url",
      "id": "empty_cart_button_url",
      "label": "t:sections.general_section_settings.buttons.style.link_label",
      "default": "/"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.appearance.header_title"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        },
        {
          "value": "small",
          "label": "t:sections.general_section_settings.container_size.small_width_option"
        },
        {
          "value": "xsmall",
          "label": "t:sections.general_section_settings.container_size.extra_small_width_option"
        }
      ],
      "default": "small",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "select",
      "id": "round_level",
      "options": [
        {
          "value": "default",
          "label": "t:settings_schema.appearance.round_level.options.default"
        },
        {
          "value": "0",
          "label": "t:settings_schema.appearance.round_level.options.option_0"
        },
        {
          "value": "1",
          "label": "t:settings_schema.appearance.round_level.options.option_1"
        },
        {
          "value": "2",
          "label": "t:settings_schema.appearance.round_level.options.option_2"
        },
        {
          "value": "3",
          "label": "t:settings_schema.appearance.round_level.options.option_3"
        },
        {
          "value": "4",
          "label": "t:settings_schema.appearance.round_level.options.option_4"
        },
        {
          "value": "5",
          "label": "t:settings_schema.appearance.round_level.options.option_5"
        },
        {
          "value": "6",
          "label": "t:settings_schema.appearance.round_level.options.option_6"
        },
        {
          "value": "7",
          "label": "t:settings_schema.appearance.round_level.options.option_7"
        },
        {
          "value": "8",
          "label": "t:settings_schema.appearance.round_level.options.option_8"
        }
      ],
      "default": "default",
      "label": "t:settings_schema.appearance.round_level.label"
    },
    {
      "type": "select",
      "id": "color_scheme_variant",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
        },
        {
          "value": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_variant.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "2",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' }}"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "default": false,
      "label": "t:sections.general_section_settings.enable_background_around_container_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' and settings.default_color_scheme != section.settings.color_scheme }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.paddings.header_title"
    },
    {
      "type": "checkbox",
      "id": "add_desktop_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.desktop_label"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_top.label"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_bottom.label"
    }
  ]
}
{% endschema %}
