{%- liquid
  assign options = section.settings
  assign add_desktop_side_paddings = options.add_desktop_side_paddings
  assign add_mobile_side_paddings = options.add_mobile_side_paddings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign color_scheme = settings.default_color_scheme
  if options.color_scheme_variant == 'own'
    assign color_scheme = options.color_scheme
  endif
  assign round_level = options.round_level

  assign enable_sign_in_with_shop = options.enable_sign_in_with_shop

  assign enable_content_slide_in = settings.enable_content_slide_in
-%}


{%- liquid
  assign show_background = section.settings.show_background
  assign color_container_background = false

  if show_background == false and settings.default_color_scheme.settings.background != color_scheme.settings.background
    assign color_container_background = true
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}} {
      --gsc-section-spacing-top: var(--gsc-padding-block-{{ section_spacing_top }});
      --gsc-section-spacing-bottom: var(--gsc-padding-block-{{ section_spacing_bottom }});
      --gsc-container-width: 40rem;
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<div class='login {% if round_level != 'default' %}round-level-{{round_level}}{% endif %} section section-{{ section.id }} color-{{ color_scheme }} spacing-block {% if add_mobile_side_paddings %}spacing-inline-mobile{% endif %} {% if add_desktop_side_paddings %}spacing-inline-desktop{% endif %} {% if color_container_background == false %}section-background{% endif %}'>
  <div class='container {% if color_container_background %}container-background{% endif %}'>
    <login-component>
      <div class='hidden' data-login-form='recover'>
        <div class='login__content'>
          <h2 class='login__title h5' tabindex='-1'>
            {{ 'customer.login_page.store_front.forgot_password_title' | t }}
          </h2>
          <div class='login__text body-font-weight-from-global-settings'>
            {{ 'customer.login_page.store_front.forgot_password_note' | t }}
          </div>
        </div>
        {%- form 'recover_customer_password', class: 'login__form' -%}
          {%- assign recover_success = form.posted_successfully? -%}

          <div class='field login__field'>
            <label class='label' for='{{ section.id }}-RecoveryEmail'>
              {{- 'customer.login_page.store_front.email_input_label' | t -}}
            </label>
            <input
              class='input input--{{ settings.input_style }} input--large'
              type='email'
              id='{{ section.id }}-RecoveryEmail'
              value=''
              name='email'
              autocorrect='off'
              autocapitalize='off'
              autocomplete='email'
              placeholder='{{ 'customer.login_page.store_front.email_input_placeholder' | t }}'
              required
            >
          </div>

          {%- if form.errors -%}
            <script>
              window.notification = { text: "{{ form.errors.messages['form'] }}", variant: 'warning' }
            </script>
          {%- endif -%}

          <div class='login__btns'>
            <button
              type='submit'
              class='btn btn--primary btn--lg login__btn'
              aria-label='{{ 'customer.login_page.screen_reader.submit' | t }}'
            >
              {{ 'customer.login_page.store_front.submit' | t }}
            </button>
            <button
              class='btn btn--secondary btn--lg login__btn'
              data-login-form-id='login'
              data-login-form-button
              aria-label='{{ 'customer.login_page.screen_reader.cancel' | t }}'
              type='button'
            >
              {{ 'customer.login_page.store_front.cancel' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>

      <div data-login-form='login'>
        <div class='login__content'>
          <h2
            class='login__title h5 {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
            {% if enable_content_slide_in %}
              style='--gsc-animation-order: 1;'
            {% endif %}
          >
            {{ 'customer.login_page.store_front.title' | t }}
          </h2>
        </div>
        {%- if recover_success == true -%}
          <script>
            window.notification = {
              text: "{{ 'customer.recover_password.store_front.success' | t }}",
              variant: 'success',
            }
          </script>
        {%- endif -%}
        {%- form 'customer_login', novalidate: 'novalidate', class: 'login__form' -%}
          <div
            class='field login__field {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
            {% if enable_content_slide_in %}
              style='--gsc-animation-order: 2;'
            {% endif %}
          >
            <label class='label' for='{{ section.id }}-CustomerEmail'>
              {{- 'customer.login_page.store_front.email_input_label' | t -}}
            </label>
            <input
              class='input input--{{ settings.input_style }} input--large'
              type='email'
              id='{{ section.id }}-CustomerEmail'
              name='customer[email]'
              autocomplete='email'
              autocorrect='off'
              autocapitalize='off'
              placeholder='{{ 'customer.login_page.store_front.email_input_placeholder' | t }}'
              required
            >
          </div>
          {%- if form.password_needed -%}
            <div
              class='field login__field {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
              {% if enable_content_slide_in %}
                style='--gsc-animation-order: 3;'
              {% endif %}
            >
              <label class='label' for='{{ section.id }}-CustomerPassword'>
                {{ 'customer.login_page.store_front.password_input_label' | t }}
              </label>
              <div class='input-wrap'>
                <password-field class='password-input'>
                  <input
                    class='input input--{{ settings.input_style }} input--large password-input__input'
                    type='password'
                    value=''
                    id='{{ section.id }}-CustomerPassword'
                    name='customer[password]'
                    autocomplete='current-password'
                    placeholder='{{ 'customer.login_page.store_front.password_input_placeholder' | t }}'
                    data-password-field-input
                    required
                  >
                  <button type='button' class='password-input__btn unstyled-button' data-password-field-button>
                    {% render 'icon',
                      icon_name: 'password-input-opened-eye',
                      class: 'password-input__icon password-input__icon--eye'
                    %}
                    {% render 'icon',
                      icon_name: 'password-input-closed-eye',
                      class: 'password-input__icon password-input__icon--closed-eye'
                    %}
                  </button>
                </password-field>
              </div>
              <button
                class='field__link login__field-link unstyled-button'
                data-login-form-id='recover'
                data-login-form-button
                type='button'
              >
                {{ 'customer.login_page.store_front.forgot_password_link' | t }}
              </button>
            </div>
          {%- endif -%}
          <div
            class='login__btns {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
            {% if enable_content_slide_in %}
              style='--gsc-animation-order: 4;'
            {% endif %}
          >
            <button
              class='btn btn--primary btn--lg login__btn'
              aria-label='{{ 'customer.login_page.screen_reader.sign_in' | t }}'
            >
              {{ 'customer.login_page.store_front.sign_in' | t }}
            </button>
            {%- if shop.checkout.guest_login -%}
              {%- form 'guest_login' -%}
                <button
                  class='btn btn--primary btn--lg'
                  aria-label='{{ 'customer.login_page.screen_reader.guest_continue' | t }}'
                >
                  {{ 'customer.login_page.store_front.guest_continue' | t }}
                </button>
              {%- endform -%}
            {%- endif -%}
          </div>

          {%- if shop.features.login_with_shop_classic_customer_accounts? and enable_sign_in_with_shop -%}
            <div
              class='login__sign-in-with-shop {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
              {% if enable_content_slide_in %}
                style='--gsc-animation-order: 5;'
              {% endif %}
            >
              <p class='login__sign-in-with-shop-separator'>
                <span>{{ 'customer.login_page.store_front.alternate_provider_separator' | t }}</span>
              </p>

              {{ shop | login_button }}
            </div>
          {%- endif -%}

          <div
            class='login__footer {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
            {% if enable_content_slide_in %}
              style='--gsc-animation-order: 6;'
            {% endif %}
          >
            {{ 'customer.login_page.store_front.new_customer_at_html' | t: url: routes.account_register_url }}
          </div>

          {%- if form.errors -%}
            <script>
              window.notification = { text: "{{ form.errors.messages['form'] }}", variant: 'warning' }
            </script>
          {%- endif -%}
        {%- endform -%}
      </div>
    </login-component>
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.login_form.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sign_in_with_shop",
      "default": false,
      "label": "t:sections.login_form.enable_sign_in_with_shop.label",
      "info": "t:sections.login_form.enable_sign_in_with_shop.info"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.appearance.header_title"
    },
    {
      "type": "select",
      "id": "round_level",
      "options": [
        {
          "value": "default",
          "label": "t:settings_schema.appearance.round_level.options.default"
        },
        {
          "value": "0",
          "label": "t:settings_schema.appearance.round_level.options.option_0"
        },
        {
          "value": "1",
          "label": "t:settings_schema.appearance.round_level.options.option_1"
        },
        {
          "value": "2",
          "label": "t:settings_schema.appearance.round_level.options.option_2"
        },
        {
          "value": "3",
          "label": "t:settings_schema.appearance.round_level.options.option_3"
        },
        {
          "value": "4",
          "label": "t:settings_schema.appearance.round_level.options.option_4"
        },
        {
          "value": "5",
          "label": "t:settings_schema.appearance.round_level.options.option_5"
        },
        {
          "value": "6",
          "label": "t:settings_schema.appearance.round_level.options.option_6"
        },
        {
          "value": "7",
          "label": "t:settings_schema.appearance.round_level.options.option_7"
        },
        {
          "value": "8",
          "label": "t:settings_schema.appearance.round_level.options.option_8"
        }
      ],
      "default": "default",
      "label": "t:settings_schema.appearance.round_level.label"
    },
    {
      "type": "select",
      "id": "color_scheme_variant",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
        },
        {
          "value": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_variant.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "2",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.paddings.header_title"
    },
    {
      "type": "checkbox",
      "id": "add_desktop_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.desktop_label"
    },
    {
      "type": "checkbox",
      "id": "add_mobile_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.mobile_label"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_top.label"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_bottom.label"
    }
  ]
}
{% endschema %}
