{%- liquid
  assign options = section.settings
  assign add_desktop_side_paddings = options.add_desktop_side_paddings
  assign add_mobile_side_paddings = options.add_mobile_side_paddings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign color_scheme = settings.default_color_scheme
  if options.color_scheme_variant == 'own'
    assign color_scheme = options.color_scheme
  endif
  assign round_level = options.round_level

  assign enable_content_slide_in = settings.enable_content_slide_in
-%}


{%- liquid
  assign show_background = section.settings.show_background
  assign color_container_background = false

  if show_background == false and settings.default_color_scheme.settings.background != color_scheme.settings.background
    assign color_container_background = true
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}} {
        --gsc-section-spacing-top: var(--gsc-padding-block-{{ section_spacing_top }});
        --gsc-section-spacing-bottom: var(--gsc-padding-block-{{ section_spacing_bottom }});
        --gsc-container-width: 40rem;
    }
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

<register-component class='login {% if round_level != 'default' %}round-level-{{round_level}}{% endif %} section section-{{ section.id }} color-{{ color_scheme }} spacing-block {% if add_mobile_side_paddings %}spacing-inline-mobile{% endif %} {% if add_desktop_side_paddings %}spacing-inline-desktop{% endif %} {% if color_container_background == false %}section-background{% endif %}'>
  <div class='container {% if color_container_background %}container-background{% endif %}'>
    <div class='login__content'>
      <h2
        class='login__title h5 {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 1;'
        {% endif %}
        tabindex='-1'
      >
        {{ 'customer.register.store_front.title' | t }}
      </h2>
    </div>
    {%- form 'create_customer', novalidate: 'novalidate', class: 'login__form', data-register-form: '' -%}
      <div
        class='field login__field {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 2;'
        {% endif %}
      >
        <label class='label' for='RegisterForm-FirstName'>{{ 'customer.register.store_front.first_name' | t }}</label>
        <input
          class='input input--{{ settings.input_style }} input--large'
          type='text'
          id='RegisterForm-FirstName'
          name='customer[first_name]'
          {% if form.first_name %}
            value='{{ form.first_name }}'
          {% endif %}
          autocomplete='given-name'
          autofocus
          placeholder='{{ 'customer.register.store_front.first_name' | t }}'
          required
        >
      </div>

      <div
        class='field login__field {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 3;'
        {% endif %}
      >
        <label class='label' for='RegisterForm-LastName'>{{ 'customer.register.store_front.last_name' | t }}</label>
        <input
          class='input input--{{ settings.input_style }} input--large'
          type='text'
          id='RegisterForm-LastName'
          name='customer[last_name]'
          {% if form.last_name %}
            value='{{ form.last_name }}'
          {% endif %}
          autocomplete='family-name'
          placeholder='{{ 'customer.register.store_front.last_name' | t }}'
          required
        >
      </div>

      <div
        class='field login__field {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 4;'
        {% endif %}
      >
        <label class='label' for='RegisterForm-email'>{{ 'customer.register.store_front.email' | t }}</label>
        <input
          class='input input--{{ settings.input_style }} input--large'
          type='email'
          id='RegisterForm-email'
          name='customer[email]'
          {% if form.email %}
            value='{{ form.email }}'
          {% endif %}
          spellcheck='false'
          autocapitalize='off'
          autocomplete='email'
          aria-required='true'
          placeholder='{{ 'customer.register.store_front.email' | t }}'
          required
        >
      </div>

      {%- if form.errors contains 'email' -%}
        {% assign error = form.errors.translated_fields.email
          | capitalize
          | append: ' '
          | append: form.errors.messages.email
        %}
        <script>
          window.notification = { text: '{{ error }}', variant: 'warning' }
          localStorage?.removeItem('isRegistered')
        </script>
      {%- endif -%}

      <div
        class='field login__field {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 5;'
        {% endif %}
      >
        <label class='label' for='RegisterForm-password'>{{ 'customer.register.store_front.password' | t }}</label>

        <password-field class='password-input'>
          <input
            class='input input--{{ settings.input_style }} input--large password-input__input'
            type='password'
            id='RegisterForm-password'
            name='customer[password]'
            aria-required='true'
            placeholder='{{ 'customer.register.store_front.password' | t }}'
            data-password-field-input
            required
          >
          <button type='button' class='password-input__btn unstyled-button' data-password-field-button>
            {% render 'icon',
              icon_name: 'password-input-opened-eye',
              class: 'password-input__icon password-input__icon--eye'
            %}
            {% render 'icon',
              icon_name: 'password-input-closed-eye',
              class: 'password-input__icon password-input__icon--closed-eye'
            %}
          </button>
        </password-field>
      </div>

      {%- if form.errors contains 'password' -%}
        {%- assign error = form.errors.translated_fields.password
          | capitalize
          | append: ' '
          | append: form.errors.messages.password
        -%}
        <script>
          window.notification = { text: '{{ error }}', variant: 'warning' }
          localStorage?.removeItem('isRegistered')
        </script>
      {%- endif -%}

      <div
        class='login__btns {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 6;'
        {% endif %}
      >
        <button
          class='btn btn--primary btn--lg login__btn'
          aria-label='{{ 'customer.register.screen_reader.create_account_button_label' | t }}'
        >
          {{ 'customer.register.store_front.create_account_button_label' | t }}
        </button>
      </div>

      <div
        class='login__footer {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: 7;'
        {% endif %}
      >
        {{ 'customer.register.store_front.sign_in_link_html' | t: account_login_url: routes.account_login_url }}
      </div>

      {%- if form.errors contains 'form' -%}
        {% assign error = form.errors.messages.form %}

        <script>
          window.notification = { text: '{{ error }}', variant: 'warning', duration: 15000 }
          localStorage?.removeItem('isRegistered')
        </script>
      {%- endif -%}
    {%- endform -%}
  </div>
</register-component>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "Register form",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.general_section_settings.appearance.header_title"
    },
    {
      "type": "select",
      "id": "round_level",
      "options": [
        {
          "value": "default",
          "label": "t:settings_schema.appearance.round_level.options.default"
        },
        {
          "value": "0",
          "label": "t:settings_schema.appearance.round_level.options.option_0"
        },
        {
          "value": "1",
          "label": "t:settings_schema.appearance.round_level.options.option_1"
        },
        {
          "value": "2",
          "label": "t:settings_schema.appearance.round_level.options.option_2"
        },
        {
          "value": "3",
          "label": "t:settings_schema.appearance.round_level.options.option_3"
        },
        {
          "value": "4",
          "label": "t:settings_schema.appearance.round_level.options.option_4"
        },
        {
          "value": "5",
          "label": "t:settings_schema.appearance.round_level.options.option_5"
        },
        {
          "value": "6",
          "label": "t:settings_schema.appearance.round_level.options.option_6"
        },
        {
          "value": "7",
          "label": "t:settings_schema.appearance.round_level.options.option_7"
        },
        {
          "value": "8",
          "label": "t:settings_schema.appearance.round_level.options.option_8"
        }
      ],
      "default": "default",
      "label": "t:settings_schema.appearance.round_level.label"
    },
    {
      "type": "select",
      "id": "color_scheme_variant",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
        },
        {
          "value": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_variant.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "2",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.paddings.header_title"
    },
    {
      "type": "checkbox",
      "id": "add_desktop_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.desktop_label"
    },
    {
      "type": "checkbox",
      "id": "add_mobile_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.mobile_label"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_top.label"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_bottom.label"
    }
  ]
}
{% endschema %}
