{%- liquid
  assign options = section.settings

  assign color_scheme = settings.default_color_scheme
  if options.color_scheme_variant == 'own'
    assign color_scheme = options.color_scheme
  endif
  assign round_level = options.round_level
  assign add_desktop_side_paddings = options.add_desktop_side_paddings
  assign add_mobile_side_paddings = options.add_mobile_side_paddings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign title = options.title
  assign text = options.text
  assign btn_text = options.btn_text
  assign btn_url = options.btn_url
  assign btn_style = options.btn_style
  assign container_size = options.container_size
  assign content_alignment = options.content_alignment
  assign body_size = options.body_size
  assign heading_size = options.heading_size
  assign img_ratio = options.img_ratio | times: 100

  assign desktop_layout = options.desktop_layout
  assign mobile_layout = options.mobile_layout
  assign mobile_columns = options.mobile_columns

  assign desktop_columns = options.desktop_columns
  assign laptop_columns = desktop_columns | minus: 1
  assign tablet_columns = desktop_columns | minus: 2
  assign desktop_carousel_percent_width = 100.0
  assign laptop_carousel_percent_width = 100.0
  assign tablet_carousel_percent_width = 100.0

  if desktop_layout == 'carousel-overflow'
    assign half_desktop_slide_width = desktop_carousel_percent_width | divided_by: desktop_columns | times: 0.33
    assign half_laptop_slide_width = laptop_carousel_percent_width | divided_by: laptop_columns | times: 0.33
    assign half_tablet_slide_width = tablet_carousel_percent_width | divided_by: tablet_columns | times: 0.33

    assign desktop_carousel_percent_width = desktop_carousel_percent_width | minus: half_desktop_slide_width
    assign laptop_carousel_percent_width = laptop_carousel_percent_width | minus: half_laptop_slide_width
    assign tablet_carousel_percent_width = tablet_carousel_percent_width | minus: half_tablet_slide_width
  endif

  assign show_arrows_on_hover = options.show_arrows_on_hover
  assign autoplay_mode = options.autoplay_mode
  assign autoplay_interval = options.autoplay_interval

  assign enable_content_slide_in = settings.enable_content_slide_in
  assign enable_image_zoom_out = settings.enable_image_zoom_out

  assign video_class = 'image instagram__image'
  assign image_class = 'image collection-hero__image'
  assign placeholder_image_class = 'instagram__image placeholder-image'

  if enable_image_zoom_out
    assign video_class = video_class | append: ' scroll-trigger animate--zoom-out'
    assign image_class = image_class | append: ' scroll-trigger animate--zoom-out'
  endif

  assign zoom_image_on_hover = options.zoom_image_on_hover
  if zoom_image_on_hover
    assign image_class = image_class | append: ' zoom'
    assign placeholder_image_class = placeholder_image_class | append: ' zoom'
  endif
-%}

{%- liquid
  assign show_background = section.settings.show_background
  assign color_container_background = false

  if show_background == false and settings.default_color_scheme.settings.background != color_scheme.settings.background
    assign color_container_background = true
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}}{
      --gsc-section-spacing-top: var(--gsc-padding-block-{{ section_spacing_top }});
      --gsc-section-spacing-bottom: var(--gsc-padding-block-{{ section_spacing_bottom }});
      --gsc-space-between-cards: var(--gsc-gap-{{ section.settings.space_between_cards_mobile }});  
      --gsc-img-ratio: {{ img_ratio }}%;

      --gsc-slide-width: {{ desktop_carousel_percent_width | times: 1.00 | divided_by: desktop_columns }}%;
      --gsc-columns: {{ mobile_columns }};
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{section.id}}{
          --gsc-space-between-cards: var(--gsc-gap-{{ section.settings.space_between_cards }});  
          --gsc-columns: {{ desktop_columns }};
        }
    }

    {% if desktop_columns == 3 %}
      @media screen and (min-width: 768px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
    {% endif %}

    {% if desktop_columns > 3 %}
      @media screen and (min-width: 880px) and (max-width: 1016px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ laptop_carousel_percent_width | times: 1.00 | divided_by: laptop_columns }}%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 880px) {
        .section-{{ section.id }} {
          --gsc-slide-width: {{ tablet_carousel_percent_width | times: 1.00 | divided_by: tablet_columns }}%;
        }
      }
    {% endif %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% capture heading %}
    {%- if text != blank or title != blank -%}
      <div class='{% if color_container_background == false and add_desktop_side_paddings == false or add_mobile_side_paddings == false  %}spacing-inline-header{% endif %} instagram__content instagram__content--with-{{ content_alignment }}-alignment'>
        {%- if title != blank -%}
          <h2 class='instagram__title {{ heading_size }} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
            {% if enable_content_slide_in %}
              style='--gsc-animation-order: 1;'
            {% endif %}
          >
            {{ title }}
          </h2>
        {%- endif -%}

        {%- if text != blank -%}
          <div class='rte instagram__text body-font-weight-from-global-settings {{ body_size }} {% if title != blank %} body-color {% endif %} {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
            {% if enable_content_slide_in %}
              style='--gsc-animation-order: 2;'
            {% endif %}
          >
            {{ text }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
{% endcapture %}

<div class='instagram {% if round_level != 'default' %}round-level-{{round_level}}{% endif %} section section-{{ section.id }} color-{{ color_scheme }} spacing-block {% if add_mobile_side_paddings %}spacing-inline-mobile{% endif %} {% if add_desktop_side_paddings %}spacing-inline-desktop{% endif %} {% if color_container_background == false %}section-background{% endif %}'>
  <div class='instagram__container container container--{{ container_size }} {% if color_container_background %}container-background{% endif %}'>
    {{ heading }}

    <slider-grid
      class='slider-grid {% if show_arrows_on_hover %}card-carousel--navigation-on-hover{% endif %} {% if request.design_mode %}is-editor-mode{% endif %}'
      {% if autoplay_mode != 'disabled' %}
        autoplay-mode='{{autoplay_mode}}'
        autoplay-interval='{{autoplay_interval}}'
      {% endif %}
      {% if desktop_layout contains 'grid' %}
        desktop-disabled
      {% endif %}
      {% if mobile_layout contains 'column' %}
        mobile-disabled
      {% endif %}
    >
      <div
        slider-grid-track
        class='slider-grid-track slider-grid__d-{{desktop_layout}} slider-grid__m-{{mobile_layout}}'
      >
        {%- for block in section.blocks -%}
          {%- liquid
            assign media_type = block.settings.media_type
            assign image = block.settings.image
            assign video = block.settings.video
            assign link = block.settings.link
            assign icon = block.settings.icon
          -%}

          <div
            class='slider-grid__slide {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
            {% if enable_content_slide_in %}
              style='--gsc-animation-order: {{ forloop.index }};'
            {% endif %}
            slider-grid-slide
            {% if mobile_layout == 'slideshow' %}
              index='{{ forloop.index0 }}'
            {% endif %}
          >
            <div
              class='instagram__item {% if zoom_image_on_hover %}zoom-parent-for-hover{% endif %} card-grid__item block-{{ block.id }}'
              {{ block.shopify_attributes }}
            >
              <div class='instagram__image-wrapper shape shape--nature'>
                {%- if link != blank -%}
                  <a
                    class='overlay instagram__link-overlay unstyled-link'
                    href='{{ link.url }}'
                    target='_blank'
                    aria-label='Instagram'
                  >
                    {%- if icon != 'none' -%}
                      {% render 'icon-pack', icon: icon, class: 'instagram__icon' %}
                    {%- endif -%}
                  </a>
                {%- endif -%}
                {%- if media_type == 'video' and video != blank -%}
                  {% render 'video-with-alt',
                    video: video,
                    class: video_class,
                    autoplay: true,
                    loop: true,
                    muted: true,
                    controls: false,
                    loading: 'lazy',
                    iterate_on_click: true
                  %}
                {%- elsif media_type == 'image' and image != blank -%}
                  <img
                    {% render 'image-attributes', image: image, size: 'medium', class: image_class %}
                  >
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: placeholder_image_class }}
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

      {% if desktop_layout contains 'carousel' and show_arrows_on_hover and section.blocks.size > desktop_columns %}
        <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--prev shape--adapt'>
          <div class='shape shape--adapt'>
            <button
              type='button'
              class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--prev'
              data-direction='prev'
              tabindex='0'
              disabled
            >
              {% render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' -%}
            </button>
          </div>
        </div>

        <div class='card-carousel__position-btn-wrap card-carousel__position-btn-wrap--next shape--adapt'>
          <div class='shape shape--adapt'>
            <button
              type='button'
              class='carousel-btn card-carousel__carousel-btn card-carousel__carousel-btn--next'
              data-direction='next'
              tabindex='0'
              disabled
            >
              {%- render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' -%}
            </button>
          </div>
        </div>
      {% endif %}

      {% if mobile_layout == 'slideshow' %}
        {% render 'dynamic-dots',
          dots_count: section.blocks.size,
          visible_dots_count: 5,
          active_dot_type: 'dot',
          target: 'custom',
          custom_class: 'slider-grid__dots'
        %}
      {% endif %}
    </slider-grid>

    {%- if btn_text != blank -%}
      <a
        {% if btn_url != blank %}
          href='{{ btn_url }}'
        {% endif %}
        class='btn btn--{{ btn_style }} instagram__btn {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
        {% if enable_content_slide_in %}
          style='--gsc-animation-order: {{ section.blocks.size | plus: 1 }};'
        {% endif %}
        aria-label='{{ btn_text | strip_html | escape }}'
      >
        {{- btn_text -}}
      </a>
    {%- endif -%}
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.instagram.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.general_section_settings.desktop_layout.options.option_2"
        },
        {
          "value": "grid",
          "label": "t:sections.general_section_settings.desktop_layout.options.option_1"
        }
      ],
      "default": "grid",
      "label": "t:sections.general_section_settings.desktop_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_1"
        },
        {
          "value": "slideshow",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_2"
        },
        {
          "value": "grid",
          "label": "t:sections.general_section_settings.mobile_layout.options.option_5"
        }
      ],
      "default": "carousel",
      "label": "t:sections.general_section_settings.mobile_layout.label"
    },
    {
      "type": "range",
      "id": "img_ratio",
      "min": 0.5,
      "max": 2,
      "step": 0.1,
      "default": 1,
      "unit": "t:sections.general_section_settings.img_ratio_unit",
      "label": "t:sections.general_section_settings.ratio_label"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 5,
      "label": "t:sections.instagram.columns_label"
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "options": [
        {
          "value": "1",
          "label": "t:sections.general_section_settings.mobile_columns_options.1"
        },
        {
          "value": "2",
          "label": "t:sections.general_section_settings.mobile_columns_options.2"
        }
      ],
      "default": "2",
      "label": "t:sections.general_section_settings.mobile_columns_label",
      "visible_if": "{{ section.settings.mobile_layout == 'grid' }}"
    },
    {
      "type": "select",
      "id": "space_between_cards",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.gap.options.none"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.gap.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.gap.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.gap.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.gap.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.gap.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.gap.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.gap.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.gap.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.gap.options.xxxl"
        }
      ],
      "default": "xs",
      "label": "t:sections.general_section_settings.gap.label.gap"
    },
    {
      "type": "select",
      "id": "space_between_cards_mobile",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.gap.options.none"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.gap.options.xxxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.gap.options.xxs"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.gap.options.xs"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.gap.options.s"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.gap.options.m"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.gap.options.l"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.gap.options.xl"
        }
      ],
      "default": "m",
      "label": "t:sections.general_section_settings.gap.label.gap_mobile"
    },
    {
      "type": "checkbox",
      "id": "zoom_image_on_hover",
      "default": true,
      "label": "t:sections.instagram.zoom_image_on_hover"
    },
    {
      "type": "header",
      "content": "t:sections.instagram.content_settings_header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.instagram.title_label",
      "default": "Gallery"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general_section_settings.label_for_heading_size_setting",
      "options": [
        {
          "value": "display1",
          "label": "t:sections.general_section_settings.display_size_1_option"
        },
        {
          "value": "display2",
          "label": "t:sections.general_section_settings.display_size_2_option"
        },
        {
          "value": "display3",
          "label": "t:sections.general_section_settings.display_size_3_option"
        },
        {
          "value": "h1",
          "label": "t:sections.general_section_settings.heading_size_1_option"
        },
        {
          "value": "h2",
          "label": "t:sections.general_section_settings.heading_size_2_option"
        },
        {
          "value": "h3",
          "label": "t:sections.general_section_settings.heading_size_3_option"
        },
        {
          "value": "h4",
          "label": "t:sections.general_section_settings.heading_size_4_option"
        },
        {
          "value": "h5",
          "label": "t:sections.general_section_settings.heading_size_5_option"
        },
        {
          "value": "h6",
          "label": "t:sections.general_section_settings.heading_size_6_option"
        },
        {
          "value": "caption1",
          "label": "t:sections.general_section_settings.caption_size_1_option"
        },
        {
          "value": "caption2",
          "label": "t:sections.general_section_settings.caption_size_2_option"
        },
        {
          "value": "caption3",
          "label": "t:sections.general_section_settings.caption_size_3_option"
        }
      ],
      "default": "h5"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "default": "Show your products, collections, and social media posts or tell about recent events.",
      "label": "t:sections.instagram.text_label"
    },
    {
      "type": "select",
      "id": "body_size",
      "label": "t:sections.general_section_settings.label_for_body_size_setting",
      "options": [
        {
          "value": "body0",
          "label": "t:sections.general_section_settings.body_size_0_option"
        },
        {
          "value": "body1",
          "label": "t:sections.general_section_settings.body_size_1_option"
        },
        {
          "value": "body2",
          "label": "t:sections.general_section_settings.body_size_2_option"
        },
        {
          "value": "body3",
          "label": "t:sections.general_section_settings.body_size_3_option"
        },
        {
          "value": "body4",
          "label": "t:sections.general_section_settings.body_size_4_option"
        },
        {
          "value": "body5",
          "label": "t:sections.general_section_settings.body_size_5_option"
        },
        {
          "value": "body6",
          "label": "t:sections.general_section_settings.body_size_6_option"
        }
      ],
      "default": "body3"
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "t:sections.general_section_settings.heading_alignment_label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.instagram.button_settings_header"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "t:sections.general_section_settings.buttons.style.button_label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "t:sections.general_section_settings.buttons.style.link_label"
    },
    {
      "type": "select",
      "id": "btn_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.buttons.style.options.primary"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.buttons.style.options.secondary"
        },
        {
          "value": "tertiary",
          "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
        }
      ],
      "default": "primary",
      "label": "t:sections.general_section_settings.buttons.style.style_label"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.carousel-settings.label",
      "visible_if": "{{ section.settings.desktop_layout != 'grid' or section.settings.mobile_layout != 'grid' }}"
    },
    {
      "type": "select",
      "id": "autoplay_mode",
      "options": [
        {
          "value": "disabled",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_1"
        },
        {
          "value": "one_at_time",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_3"
        },
        {
          "value": "seamless",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_2"
        }
      ],
      "default": "disabled",
      "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.label",
      "visible_if": "{{ section.settings.desktop_layout != 'grid' or section.settings.mobile_layout != 'grid' }}"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.general_section_settings.carousel-settings.autoplay_interval.unit",
      "label": "t:sections.general_section_settings.carousel-settings.autoplay_interval.label",
      "visible_if": "{{ section.settings.desktop_layout != 'grid' or section.settings.mobile_layout != 'grid' and section.settings.autoplay_mode != 'disabled' }}"
    },
    {
      "type": "checkbox",
      "id": "show_arrows_on_hover",
      "default": true,
      "label": "t:sections.general_section_settings.carousel-settings.show_arrows_on_hover.label",
      "visible_if": "{{ section.settings.desktop_layout != 'grid' or section.settings.mobile_layout != 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.appearance.header_title"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "full-screen",
          "label": "t:sections.general_section_settings.container_size.screen_width_option"
        },
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        },
        {
          "value": "small",
          "label": "t:sections.general_section_settings.container_size.small_width_option"
        },
        {
          "value": "xsmall",
          "label": "t:sections.general_section_settings.container_size.extra_small_width_option"
        }
      ],
      "default": "page-width",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "select",
      "id": "round_level",
      "options": [
        {
          "value": "default",
          "label": "t:settings_schema.appearance.round_level.options.default"
        },
        {
          "value": "0",
          "label": "t:settings_schema.appearance.round_level.options.option_0"
        },
        {
          "value": "1",
          "label": "t:settings_schema.appearance.round_level.options.option_1"
        },
        {
          "value": "2",
          "label": "t:settings_schema.appearance.round_level.options.option_2"
        },
        {
          "value": "3",
          "label": "t:settings_schema.appearance.round_level.options.option_3"
        },
        {
          "value": "4",
          "label": "t:settings_schema.appearance.round_level.options.option_4"
        },
        {
          "value": "5",
          "label": "t:settings_schema.appearance.round_level.options.option_5"
        },
        {
          "value": "6",
          "label": "t:settings_schema.appearance.round_level.options.option_6"
        },
        {
          "value": "7",
          "label": "t:settings_schema.appearance.round_level.options.option_7"
        },
        {
          "value": "8",
          "label": "t:settings_schema.appearance.round_level.options.option_8"
        }
      ],
      "default": "default",
      "label": "t:settings_schema.appearance.round_level.label"
    },
    {
      "type": "select",
      "id": "color_scheme_variant",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
        },
        {
          "value": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_variant.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "2",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' }}"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "default": false,
      "label": "t:sections.general_section_settings.enable_background_around_container_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' and settings.default_color_scheme != section.settings.color_scheme }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.paddings.header_title"
    },
    {
      "type": "checkbox",
      "id": "add_desktop_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.desktop_label"
    },
    {
      "type": "checkbox",
      "id": "add_mobile_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.mobile_label"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_top.label"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "l",
      "label": "t:sections.general_section_settings.paddings.section_spacing_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "post",
      "name": "t:sections.instagram.post_block_image",
      "settings": [
        {
          "type": "select",
          "id": "media_type",
          "label": "t:sections.general_section_settings.media_type.label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.general_section_settings.media_type.options.image"
            },
            {
              "value": "video",
              "label": "t:sections.general_section_settings.media_type.options.video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.general_section_settings.media_type.options.image",
          "visible_if": "{{ block.settings.media_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.general_section_settings.media_type.options.video",
          "visible_if": "{{ block.settings.media_type == 'video' }}"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.general_section_settings.icon.none_icon_label"
            },
            {
              "value": "settings",
              "label": "t:sections.general_section_settings.icon.general_group.settings_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "search",
              "label": "t:sections.general_section_settings.icon.general_group.search_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "eye",
              "label": "t:sections.general_section_settings.icon.general_group.eye_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "eye-slash",
              "label": "t:sections.general_section_settings.icon.general_group.eye_slash_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "user",
              "label": "t:sections.general_section_settings.icon.general_group.user_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "love-outline",
              "label": "t:sections.general_section_settings.icon.general_group.love_outline_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "love-solid",
              "label": "t:sections.general_section_settings.icon.general_group.love_solid_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "like",
              "label": "t:sections.general_section_settings.icon.general_group.like_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "dislike",
              "label": "t:sections.general_section_settings.icon.general_group.dislike_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "lamp",
              "label": "t:sections.general_section_settings.icon.general_group.lamp_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "star-outline",
              "label": "t:sections.general_section_settings.icon.general_group.star_outline_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "star-solid",
              "label": "t:sections.general_section_settings.icon.general_group.star_solid_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "trash",
              "label": "t:sections.general_section_settings.icon.general_group.trash_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "document",
              "label": "t:sections.general_section_settings.icon.general_group.document_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "copy",
              "label": "t:sections.general_section_settings.icon.general_group.copy_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "share",
              "label": "t:sections.general_section_settings.icon.general_group.share_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "plus",
              "label": "t:sections.general_section_settings.icon.general_group.plus_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "minus",
              "label": "t:sections.general_section_settings.icon.general_group.minus_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "checkmark",
              "label": "t:sections.general_section_settings.icon.general_group.checkmark_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "arrow-right",
              "label": "t:sections.general_section_settings.icon.general_group.arrow_right_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "arrow-left",
              "label": "t:sections.general_section_settings.icon.general_group.arrow_left_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "undo",
              "label": "t:sections.general_section_settings.icon.general_group.undo_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "redo",
              "label": "t:sections.general_section_settings.icon.general_group.redo_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "refresh",
              "label": "t:sections.general_section_settings.icon.general_group.refresh_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "notification",
              "label": "t:sections.general_section_settings.icon.general_group.notification_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "clock",
              "label": "t:sections.general_section_settings.icon.general_group.clock_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.general_section_settings.icon.general_group.calendar_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "information",
              "label": "t:sections.general_section_settings.icon.general_group.information_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            },
            {
              "value": "bag",
              "label": "t:sections.general_section_settings.icon.shop_group.bag_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "cart",
              "label": "t:sections.general_section_settings.icon.shop_group.cart_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "barcode",
              "label": "t:sections.general_section_settings.icon.shop_group.barcode_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "coupon",
              "label": "t:sections.general_section_settings.icon.shop_group.coupon_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "gift",
              "label": "t:sections.general_section_settings.icon.shop_group.gift_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "discount-outline",
              "label": "t:sections.general_section_settings.icon.shop_group.discount_outline_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "discount-solid",
              "label": "t:sections.general_section_settings.icon.shop_group.discount_solid_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "medal",
              "label": "t:sections.general_section_settings.icon.shop_group.medal_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "pen-and-ruler",
              "label": "t:sections.general_section_settings.icon.shop_group.pen_and_ruler_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "color-swatch",
              "label": "t:sections.general_section_settings.icon.shop_group.color_swatch_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "car",
              "label": "t:sections.general_section_settings.icon.shop_group.car_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "cup",
              "label": "t:sections.general_section_settings.icon.shop_group.cup_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "cake",
              "label": "t:sections.general_section_settings.icon.shop_group.cake_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "hanger",
              "label": "t:sections.general_section_settings.icon.shop_group.hanger_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "t-shirt",
              "label": "t:sections.general_section_settings.icon.shop_group.t_shirt_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "dress",
              "label": "t:sections.general_section_settings.icon.shop_group.dress_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "jewelry",
              "label": "t:sections.general_section_settings.icon.shop_group.jewelry_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "furniture",
              "label": "t:sections.general_section_settings.icon.shop_group.furniture_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "toy",
              "label": "t:sections.general_section_settings.icon.shop_group.toy_icon_label",
              "group": "t:sections.general_section_settings.icon.shop_group.label"
            },
            {
              "value": "shipping-box",
              "label": "t:sections.general_section_settings.icon.shipping_group.shipping_box_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "address-pin",
              "label": "t:sections.general_section_settings.icon.shipping_group.address_pin_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "fast-delivery",
              "label": "t:sections.general_section_settings.icon.shipping_group.fast_delivery_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "delivery-truck",
              "label": "t:sections.general_section_settings.icon.shipping_group.delivery_truck_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "easy-returns",
              "label": "t:sections.general_section_settings.icon.shipping_group.easy_returns_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "world",
              "label": "t:sections.general_section_settings.icon.shipping_group.world_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "plane",
              "label": "t:sections.general_section_settings.icon.shipping_group.plane_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "search-order",
              "label": "t:sections.general_section_settings.icon.shipping_group.search_order_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.general_section_settings.icon.shipping_group.briefcase_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "store",
              "label": "t:sections.general_section_settings.icon.shipping_group.store_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },
            {
              "value": "routing",
              "label": "t:sections.general_section_settings.icon.shipping_group.routing_icon_label",
              "group": "t:sections.general_section_settings.icon.shipping_group.label"
            },

            {
              "value": "credit-card",
              "label": "t:sections.general_section_settings.icon.payment_security_group.credit_card_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "lock",
              "label": "t:sections.general_section_settings.icon.payment_security_group.lock_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "shield",
              "label": "t:sections.general_section_settings.icon.payment_security_group.shield_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "secure-payment",
              "label": "t:sections.general_section_settings.icon.payment_security_group.secure_payment_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.general_section_settings.icon.payment_security_group.wallet_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "cash",
              "label": "t:sections.general_section_settings.icon.payment_security_group.cash_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "receipt",
              "label": "t:sections.general_section_settings.icon.payment_security_group.receipt_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "tag",
              "label": "t:sections.general_section_settings.icon.payment_security_group.tag_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "list",
              "label": "t:sections.general_section_settings.icon.payment_security_group.list_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "scanner",
              "label": "t:sections.general_section_settings.icon.payment_security_group.scanner_icon_label",
              "group": "t:sections.general_section_settings.icon.payment_security_group.label"
            },
            {
              "value": "phone",
              "label": "t:sections.general_section_settings.icon.communication_group.phone_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "chat",
              "label": "t:sections.general_section_settings.icon.communication_group.chat_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "message",
              "label": "t:sections.general_section_settings.icon.communication_group.message_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "email-outline",
              "label": "t:sections.general_section_settings.icon.communication_group.email_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "customer-support",
              "label": "t:sections.general_section_settings.icon.communication_group.customer_support_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "printer-and-fax",
              "label": "t:sections.general_section_settings.icon.communication_group.printer_and_fax_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "devices",
              "label": "t:sections.general_section_settings.icon.communication_group.devices_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "mobile",
              "label": "t:sections.general_section_settings.icon.communication_group.mobile_icon_label",
              "group": "t:sections.general_section_settings.icon.communication_group.label"
            },
            {
              "value": "virus",
              "label": "t:sections.general_section_settings.icon.ecology_group.virus_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "mask",
              "label": "t:sections.general_section_settings.icon.ecology_group.mask_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "eco",
              "label": "t:sections.general_section_settings.icon.ecology_group.eco_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "rabbit",
              "label": "t:sections.general_section_settings.icon.ecology_group.rabbit_icon_label",
              "group": "t:sections.general_section_settings.icon.ecology_group.label"
            },
            {
              "value": "twitter",
              "label": "t:sections.general_section_settings.icon.social_group.twitter_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "facebook",
              "label": "t:sections.general_section_settings.icon.social_group.facebook_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "pinterest",
              "label": "t:sections.general_section_settings.icon.social_group.pinterest_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "instagram",
              "label": "t:sections.general_section_settings.icon.social_group.instagram_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "tiktok",
              "label": "t:sections.general_section_settings.icon.social_group.tiktok_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "tumblr",
              "label": "t:sections.general_section_settings.icon.social_group.tumblr_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "snapchat",
              "label": "t:sections.general_section_settings.icon.social_group.snapchat_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "youtube",
              "label": "t:sections.general_section_settings.icon.social_group.youtube_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "vimeo",
              "label": "t:sections.general_section_settings.icon.social_group.vimeo_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "linkedin",
              "label": "t:sections.general_section_settings.icon.social_group.linkedin_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "flickr",
              "label": "t:sections.general_section_settings.icon.social_group.flickr_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "reddit",
              "label": "t:sections.general_section_settings.icon.social_group.reddit_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "email-solid",
              "label": "t:sections.general_section_settings.icon.social_group.email_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "behance",
              "label": "t:sections.general_section_settings.icon.social_group.behance_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "discord",
              "label": "t:sections.general_section_settings.icon.social_group.discord_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "dribbble",
              "label": "t:sections.general_section_settings.icon.social_group.dribbble_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "medium",
              "label": "t:sections.general_section_settings.icon.social_group.medium_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "twitch",
              "label": "t:sections.general_section_settings.icon.social_group.twitch_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "whatsapp",
              "label": "t:sections.general_section_settings.icon.social_group.whatsapp_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "viber",
              "label": "t:sections.general_section_settings.icon.social_group.viber_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "telegram",
              "label": "t:sections.general_section_settings.icon.social_group.telegram_label",
              "group": "t:sections.general_section_settings.icon.social_group.label"
            },
            {
              "value": "coffee",
              "label": "t:sections.general_section_settings.icon.general_group.coffee_icon_label",
              "group": "t:sections.general_section_settings.icon.general_group.label"
            }
          ],
          "default": "none",
          "label": "t:sections.instagram.post_block_icon"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.instagram.post_block_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.instagram.name",
      "blocks": [
        {
          "type": "post"
        },
        {
          "type": "post"
        },
        {
          "type": "post"
        },
        {
          "type": "post"
        },
        {
          "type": "post"
        }
      ]
    }
  ]
}
{% endschema %}
