{%- liquid
  assign options = section.settings
  assign color_scheme = options.color_scheme
  assign copyright_text = options.copyright_text
  assign show_policy_links = options.show_policy_links

  assign enable_content_slide_in = settings.enable_content_slide_in
-%}

<div class='password-footer section section-background color-{{ color_scheme }}'>
  <div
    class='password-footer__container container container--full-screen {% if enable_content_slide_in %}scroll-trigger animate--slide-in{% endif %}'
    {% if enable_content_slide_in %}
      style='--gsc-animation-order: 1;'
    {% endif %}
  >
    <div class='password-footer__item'>
      {{ powered_by_link }}
      <a class='password-footer__shopify-logo' href='//www.shopify.com' rel='nofollow' aria-label='Shopify'>
        {% render 'icon', icon_name: 'shopify-logo' %}
      </a>
    </div>
    <div class='password-footer__item'>
      {{ 'general.password_page.store_front.text_for_link_to_admin_at_html' | t: class: 'password-footer__login-link' }}
    </div>

    {%- if copyright_text != blank -%}
      <div class='password-footer__copyright footer__copyright'>
        {{ copyright_text }}
      </div>
    {%- endif -%}

    {%- if show_policy_links and shop.policies.size > 0 -%}
      <div class='password-footer__policies footer__policies'>
        {%- for policy in shop.policies %}
          <a
            class='footer__policies-item underline-text footer__underline-text'
            href='{{ policy.url }}'
            aria-label='{{ policy.title | strip_html | escape }}'
          >
            <span class='underline-text__label'>{{ policy.title }}</span>
          </a>
        {%- endfor %}
      </div>
    {%- endif -%}
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "Password footer",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "copyright_text",
      "label": "t:sections.footer.copyright_text_label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.policies_settings_header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.footer.policies_settings_parapragh"
    },
    {
      "type": "checkbox",
      "id": "show_policy_links",
      "default": true,
      "label": "t:sections.footer.show_policies_label"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.appearance.header_title"
    },
    {
      "type": "select",
      "id": "color_scheme_variant",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
        },
        {
          "value": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_variant.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "2",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' }}"
    }
  ]
}
{% endschema %}
