{%- liquid
  assign blocks = section.blocks
  assign options = section.settings

  assign color_scheme = settings.default_color_scheme
  if options.color_scheme_variant == 'own'
    assign color_scheme = options.color_scheme
  endif
  assign round_level = options.round_level
  assign mobile_ratio = options.mobile_ratio
  assign desktop_ratio = options.desktop_ratio
  assign add_desktop_side_paddings = options.add_desktop_side_paddings
  assign add_mobile_side_paddings = options.add_mobile_side_paddings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign container_size = options.container_size

  assign transition_style = options.transition_style
  assign autoplay_interval = options.autoplay_interval
  assign arrows_style = options.arrows_style

  assign autoplay_mode = options.autoplay_mode
  assign show_dots = options.show_dots

  assign show_button_for_autoplay = options.show_button_for_autoplay
  assign show_navigation_arrows = options.show_navigation_arrows

  assign accessibility_alt_text = options.accessibility_alt_text

  assign disable_lazy_loading = options.disable_lazy_loading

  assign enable_image_zoom_out = settings.enable_image_zoom_out

  assign continue_observe_animation = true
  assign remove_animation_class = false
  if transition_style == 'fade'
    assign continue_observe_animation = false
    assign remove_animation_class = true
  endif

  assign with_overlay = true
-%}

{%- liquid
  assign show_background = section.settings.show_background
  assign color_container_background = false

  if show_background == false and settings.default_color_scheme.settings.background != color_scheme.settings.background
    assign color_container_background = true
  endif
-%}

{% capture css %}
  {% style %}
    .section-{{section.id}} {
      --gsc-section-ratio: {{ mobile_ratio | times: 100 }}%;
      --gsc-section-spacing-top: var(--gsc-padding-block-{{ section_spacing_top }});
      --gsc-section-spacing-bottom: var(--gsc-padding-block-{{ section_spacing_bottom }});
    }

    @media {% render 'media-queries', screen: 'md' %} {
        .section-{{section.id}} {
            --gsc-section-ratio: {{ desktop_ratio | times: 100 }}%;
        }
    }

    {% for block in section.blocks %}
        {% assign options = block.settings %}

        {% if block.type == 'split-image-banner' %}
          .block-{{ block.id }}{
              --gsc-overlay-opacity: {{ options.mobile_overlay_opacity | times: 0.01 }};
              --gsc-left-image-width: {{ options.image_proportion }}%;
              --gsc-right-image-width: {{ 100 | minus: options.image_proportion }}%;
              --gsc-content-align: {{ options.mobile_content_align }};
              --gsc-content-max-width: {{ options.content_max_width | divided_by: 10.0 }}rem;
              --gsc-content-wrapper-width: {{ options.content_wrapper_width | times: 1.0 }}%;
          }

          .block-{{ block.id }} .split-image-banner__content-wrap {
            {{ options.mobile_content_position }}
          }

          @media {% render 'media-queries', screen: 'md' %} {
              .block-{{ block.id }}{
                  --gsc-overlay-opacity: {{ options.desktop_overlay_opacity | times: 0.01 }};
                  --gsc-content-align: {{ options.desktop_content_align }};
              }

              {% if block.type == 'split-image-banner' %}
                .block-{{ block.id }} .split-image-banner__content-wrap {
                    {{ options.desktop_content_position }}
                }
              {% endif %}
          }
        {% endif %}

        {% if block.type == 'image-banner' %}          
          {%- liquid
            assign block_color_scheme = color_scheme
            if options.color_scheme_variant == 'own'
              assign block_color_scheme = options.color_scheme
            endif

            assign background_color = block_color_scheme.settings.background
            assign foreground_color = block_color_scheme.settings.foreground
            assign text_color = block_color_scheme.settings.text

            if options.color_scheme_variant == 'custom'
              assign background_color = options.custom_background_color
              assign foreground_color = options.custom_foreground_color
              assign text_color = options.custom_text_color
            endif

            assign desktop_enable_overlay = options.desktop_enable_overlay
            assign desktop_overlay_opacity = options.desktop_overlay_opacity | divided_by: 100.00
            assign mobile_enable_overlay = options.mobile_enable_overlay
            assign mobile_overlay_opacity = options.mobile_overlay_opacity | divided_by: 100.00

            assign content_paddings_size = options.content_paddings_size
          -%}

          .block-{{ block.id }}{
              --gsc-content-align: {{ options.mobile_content_align }};
              --gsc-content-width: {{ options.content_max_width | divided_by: 10.0 }}rem;
              --gsc-content-paddings: var(--gsc-content-padding-{{ content_paddings_size }});
      
              {% if options.color_scheme_variant == 'custom' %}
                --gsc-primary-button-text-color: {{ options.custom_first_button_text_color }};
                --gsc-primary-button-bg-color: {{ options.custom_first_button_bg_color }};
                --gsc-primary-button-bg-color-rgb: {{ options.custom_first_button_bg_color.red }}, {{ options.custom_first_button_bg_color.green }}, {{ options.custom_first_button_bg_color.blue }};
                --gsc-primary-button-bg-hover: {% if options.custom_first_button_bg_color.lightness < 50 %}{{ options.custom_first_button_bg_color | color_lighten: 8 }}{% else %}{{ options.custom_first_button_bg_color | color_darken: 8 }}{% endif %};
                --gsc-primary-button-border-color: {% if options.custom_first_button_border_color.alpha > 0 %}{{ options.custom_first_button_border_color }}{% else %}transparent{% endif %};

                --gsc-secondary-button-text-color: {{ options.custom_second_button_text_color }};
                --gsc-secondary-button-bg-color: {{ options.custom_second_button_bg_color }};
                --gsc-secondary-button-bg-color-rgb: {{ options.custom_second_button_bg_color.red }}, {{ options.custom_second_button_bg_color.green }}, {{ options.custom_second_button_bg_color.blue }};
                --gsc-secondary-button-bg-hover: {% if options.custom_second_button_bg_color.lightness < 50 %}{{ options.custom_second_button_bg_color | color_lighten: 8 }}{% else %}{{ options.custom_second_button_bg_color | color_darken: 8 }}{% endif %};
                --gsc-secondary-button-border-color: {% if options.custom_second_button_border_color.alpha > 0 %}{{ options.custom_second_button_border_color }}{% else %}transparent{% endif %};

                --gsc-link-button-text-color: {{ options.custom_link_color }};
                
                --gsc-background-color-100: {{ background_color }};
                --gsc-content-solid-background-rgb: {{ foreground_color.rgb | replace: ' ', ',' }};
                --gsc-text-color-100: {{ text_color }};
                --gsc-text-color: {{ text_color.rgb | replace: ' ', ',' }};
              {% endif %}

              {% if mobile_enable_overlay %}
                --gsc-overlay-color-rgb: {{ background_color.rgb | replace: ' ', ',' }};
                --gsc-overlay-opacity: {{mobile_overlay_opacity}};
              {% else %}
                --gsc-overlay-color-rgb: 0,0,0;
                --gsc-overlay-opacity: 0;
              {% endif %} 

              {% if options.mobile_content_background == 'solid' %}
                --gsc-content-solid-opacity: {{ options.mobile_background_opacity }}%;
                --gsc-content-solid-blur: {{ options.mobile_background_blur }}px;
              {% endif %}

              {% if options.mobile_content_background == 'outline' %}
                --gsc-content-border-width: {{ options.mobile_outline_border_thickness }}px;
              {% endif %}

              {% if options.mobile_content_background == 'shadow' %}
                --gsc-content-shadow-color: {{ options.mobile_shadow_background_color }};
              {% endif %}
          }

          .block-{{ block.id }} .image-banner__content-wrap {
              {{ options.mobile_content_position }}
          }

          @media {% render 'media-queries', screen: 'md' %} {
              .block-{{ block.id }}{
                  --gsc-overlay-opacity: {{ options.desktop_overlay_opacity | times: 0.01 }};
                  --gsc-content-align: {{ options.desktop_content_align }};

                  {% if desktop_enable_overlay %}
                    --gsc-overlay-color-rgb: {{ background_color.rgb | replace: ' ', ',' }};
                    --gsc-overlay-opacity: {{desktop_overlay_opacity}};
                  {% else %}
                    --gsc-overlay-color-rgb: 0,0,0;
                    --gsc-overlay-opacity: 0;
                  {% endif %}

            {% if options.desktop_content_background == 'solid' %}
              --gsc-content-solid-opacity: {{ options.desktop_background_opacity }}%;
              --gsc-content-solid-blur: {{ options.desktop_background_blur }}px;
            {% endif %}

            {% if options.desktop_content_background == 'outline' %}
              --gsc-content-border-width: {{ options.desktop_outline_border_thickness }}px;
            {% endif %}

            {% if options.desktop_content_background == 'shadow' %}
              --gsc-content-shadow-color: {{ options.desktop_shadow_background_color }};
            {% endif %}
              }

              .block-{{ block.id }} .image-banner__content-wrap {
                {{ options.desktop_content_position }}
              }
          }
        {% endif %}
    {% endfor %}
  {% endstyle %}
{% endcapture %}

{% render 'inline-css-minifier', css: css %}

{% if blocks.size > 1 and show_dots != 'none' %}
  {% capture carousel_dots %}
    {% liquid
      assign dots_style = section.settings.dots_style
      assign dots_size = section.settings.dots_size

      assign dots_color = 'dark'
      if dots_style contains 'white'
        assign dots_color = 'light'
      endif

      assign bg_color = 'none'
      assign bg_blur = false
      if dots_style contains 'bg'
        assign bg_color = dots_color
        assign bg_blur = true
      endif

      assign dots_count = section.blocks.size
      if section.blocks.size > 5
        assign dots_count = 5
      endif
    %}

    {% render 'dynamic-dots',
      class: 'slideshow__dots-carousel'
      dots_count: dots_count,
      visible_dots_count: 5,
      active_dot_type: show_dots,
      dots_size: dots_size,
      dots_color: dots_color,
      bg_color: bg_color,
      bg_blur: bg_blur
    %}
  {% endcapture %}
{% endif %}

<div class='section-{{ section.id }} {% if round_level != 'default' %}round-level-{{round_level}}{% endif %} section color-{{ color_scheme }} spacing-block {% if add_mobile_side_paddings %}spacing-inline-mobile{% endif %} {% if add_desktop_side_paddings %}spacing-inline-desktop{% endif %} {% if color_container_background == false %}section-background{% endif %}'>
  <div class='container container--{{ container_size }} {% if color_container_background %}container-background--no-paddings{% endif %} {% if blocks.size > 1 and dots_style != 'none' %} slideshow--with-dots{% else %} slideshow--without-dots{% endif %}'>
    <slideshow-component
      {% if enable_image_zoom_out %}
        data-animate-images
      {% endif %}
      class='slideshow {% if show_navigation_arrows == 'on_hover' %}slideshow--navigation-on-hover{% endif %}'
    >
      <span class='visually-hidden'>{{ accessibility_alt_text }}</span>

      {%- if section.blocks.size > 0 -%}
        <carousel-component
          class='carousel slideshow__carousel'
          data-animation='{{ transition_style }}'
          data-draggable
          data-align='start'
          data-axis='x'
          data-contain-scroll='trimSnaps'
          {% if transition_style == 'seamless' %}
            data-drag-free
          {% endif %}
          {% if autoplay_mode == 'one_at_time' %}
            data-autoplay-mode='one_at_time'
            data-autoplay-interval='{{autoplay_interval}}'
          {% endif %}
          data-section-id='{{ section.id }}'
          {% if show_button_for_autoplay == false %}
            with-hover-pause
          {% endif %}
        >
          {%- if blocks.size > 1 and show_navigation_arrows != 'never' -%}
            <div class='slideshow__btns {% if arrows_style == 'corner-buttons' %}slideshow__btns--corner{% else %}slideshow__btns--aside{% endif %}'>
              <carousel-button
                class='carousel-btn slideshow__carousel-btn slideshow__carousel-btn--prev'
                data-direction='prev'
                tabindex='0'
              >
                {%- render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon x-flip' -%}
              </carousel-button>
              <carousel-button
                class='carousel-btn slideshow__carousel-btn slideshow__carousel-btn--next'
                data-direction='next'
                tabindex='0'
              >
                {%- render 'icon', icon_name: 'arrow', class: 'carousel-btn__icon' -%}
              </carousel-button>
            </div>
          {%- endif -%}

          <div class='carousel__viewport embla slideshow__carousel-viewport' data-carousel-viewport>
            <div class='carousel__container slideshow__carousel-container' data-carousel-container>
              {%- for block in blocks -%}
                {% liquid
                  assign is_eager_loading = false
                  if forloop.index0 == 0 and disable_lazy_loading
                    assign is_eager_loading = true
                  endif

                  assign block_color_scheme = color_scheme
                  if block.settings.color_scheme_variant == 'own'
                    assign block_color_scheme = block.settings.color_scheme
                  endif
                %}

                {%- case block.type -%}
                  {%- when 'split-image-banner' -%}
                    <div
                      class='carousel__slide block-{{ block.id }} {% if transition_style == 'fade' %}carousel__slide--fade{% endif %} split-image-banner {% if block.settings.image_proportion == 0 or block.settings.image_proportion == 100 %} split-image-banner--with-single-image{% endif %} color-{{ block_color_scheme }}'
                      block-id='{{ block.id }}'
                      {{ block.shopify_attributes }}
                    >
                      <div class='split-image-banner__container'>
                        {%- if block.settings.btn_text == blank and block.settings.extra_btn_text == blank -%}
                          {%- if block.settings.btn_url.url != blank or block.settings.extra_btn_url.url != blank -%}
                            <a
                              class='image-banner__link'
                              href='{% if block.settings.btn_url.url != blank %}{{ block.settings.btn_url.url }}{% else %}{{ block.settings.extra_btn_url.url }}{% endif %}'
                              aria-label='{% if block.settings.btn_text != blank %}{{ block.settings.btn_text | strip_html | escape }}{% elsif block.settings.extra_btn_text != blank %}{{ block.settings.extra_btn_text | strip_html | escape }}{% elsif block.settings.btn_url.title != blank %}{{ block.settings.btn_url.title | strip_html | escape }}{% elsif block.settings.extra_btn_url.title != blank %}{{ block.settings.extra_btn_url.title | strip_html | escape }}{% else %}#{% endif %}'
                            ></a>
                          {%- endif -%}
                        {%- endif -%}

                        {%- if block.settings.image_proportion > 0 -%}
                          {%- render 'media-with-art-direction',
                            class: 'split-image-banner__media split-image-banner__left-media',
                            with_placeholder: true,
                            desktop_media_type: block.settings.desktop_left_media_type,
                            mobile_media_type: block.settings.mobile_left_media_type,
                            desktop_img: block.settings.desktop_left_img,
                            mobile_img: block.settings.mobile_left_img,
                            desktop_video: block.settings.desktop_left_video,
                            mobile_video: block.settings.mobile_left_video,
                            is_eager_loading: is_eager_loading,
                            force_disable_animation: true
                          -%}
                        {%- endif -%}

                        {%- render 'split-image-banner-content',
                          heading_size: block.settings.heading_size,
                          body_size: block.settings.body_size,
                          title: block.settings.title,
                          caption: block.settings.caption,
                          text: block.settings.text,
                          btn_text: block.settings.btn_text,
                          btn_url: block.settings.btn_url,
                          extra_btn_text: block.settings.extra_btn_text,
                          extra_btn_url: block.settings.extra_btn_url,
                          btn_style: block.settings.btn_style,
                          extra_btn_style: block.settings.extra_btn_style,
                          continue_observe_animation: continue_observe_animation,
                          remove_animation_class: remove_animation_class
                        -%}

                        {%- if block.settings.image_proportion < 100 -%}
                          {%- render 'media-with-art-direction',
                            class: 'split-image-banner__media split-image-banner__right-media',
                            with_placeholder: true,
                            desktop_media_type: block.settings.desktop_right_media_type,
                            mobile_media_type: block.settings.mobile_right_media_type,
                            desktop_img: block.settings.desktop_right_img,
                            mobile_img: block.settings.mobile_right_img,
                            desktop_video: block.settings.desktop_right_video,
                            mobile_video: block.settings.desktop_right_video,
                            is_eager_loading: is_eager_loading,
                            force_disable_animation: true
                          -%}
                        {%- endif -%}
                      </div>
                    </div>
                  {%- when 'image-banner' -%}
                    {% liquid
                      assign desktop_enable_overlay = block.settings.desktop_enable_overlay
                      assign mobile_enable_overlay = block.settings.mobile_enable_overlay
                      assign btn_style = block.settings.btn_style
                      assign extra_btn_style = block.settings.extra_btn_style

                      assign with_overlay = true
                      if desktop_enable_overlay == false and mobile_enable_overlay == false
                        assign with_overlay = false
                      endif

                      if block.settings.color_scheme == 'own'
                        assign block_color_scheme = block.settings.overlay_color_scheme
                      endif

                      if block.settings.color_scheme == 'custom'
                        assign btn_style = 'primary'
                        if block.settings.btn_style == 'link'
                          assign btn_style = 'link'
                        endif

                        assign extra_btn_style = 'secondary'
                        if block.settings.extra_btn_style == 'link'
                          assign extra_btn_style = 'link'
                        endif
                      endif
                    %}

                    <div
                      class='carousel__slide block-{{ block.id }} {% if transition_style == 'fade' %}carousel__slide--fade{% endif %} image-banner color-{{ block_color_scheme }}'
                      block-id='{{ block.id }}'
                      {{ block.shopify_attributes }}
                    >
                      <div class='image-banner__container {% if block.settings.mobile_content_background != 'none' %} image-banner__container--mobile-content-with-background {% endif %}'>
                        {%- if block.settings.btn_text == blank and block.settings.extra_btn_text == blank -%}
                          {%- if block.settings.btn_url.url != blank or block.settings.extra_btn_url.url != blank -%}
                            <a
                              class='image-banner__link'
                              href='{% if block.settings.btn_url.url != blank %}{{ block.settings.btn_url.url }}{% else %}{{ block.settings.extra_btn_url.url }}{% endif %}'
                              aria-label='{% if block.settings.btn_text != blank %}{{ block.settings.btn_text | strip_html | escape }}{% elsif block.settings.extra_btn_text != blank %}{{ block.settings.extra_btn_text | strip_html | escape }}{% elsif block.settings.btn_url.title != blank %}{{ block.settings.btn_url.title | strip_html | escape }}{% elsif block.settings.extra_btn_url.title != blank %}{{ block.settings.extra_btn_url.title | strip_html | escape }}{% else %}#{% endif %}'
                            ></a>
                          {%- endif -%}
                        {%- endif -%}

                        {%- render 'image-banner-content',
                          heading_size: block.settings.heading_size,
                          body_size: block.settings.body_size,
                          title: block.settings.title,
                          caption: block.settings.caption,
                          text: block.settings.text,
                          btn_text: block.settings.btn_text,
                          btn_url: block.settings.btn_url,
                          extra_btn_text: block.settings.extra_btn_text,
                          extra_btn_url: block.settings.extra_btn_url,
                          btn_style: btn_style,
                          extra_btn_style: extra_btn_style,
                          mobile_content_background: block.settings.mobile_content_background,
                          desktop_content_background: block.settings.desktop_content_background,
                          continue_observe_animation: continue_observe_animation,
                          remove_animation_class: remove_animation_class
                        -%}

                        {%- render 'media-with-art-direction',
                          with_overlay: with_overlay,
                          with_placeholder: true,
                          class: 'image-banner__media',
                          desktop_media_type: block.settings.desktop_media_type,
                          mobile_media_type: block.settings.mobile_media_type,
                          desktop_img: block.settings.desktop_image,
                          mobile_img: block.settings.mobile_image,
                          desktop_video: block.settings.desktop_video,
                          mobile_video: block.settings.mobile_video,
                          is_eager_loading: is_eager_loading,
                          force_disable_animation: true
                        -%}
                      </div>
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </div>
          </div>

          {%- if show_button_for_autoplay and autoplay_mode != 'disabled' and section.blocks.size > 1 -%}
            <carousel-play-button>
              <button
                data-carousel-play-button
                class='slideshow__play-button'
                aria-label='Toggle autoplay button'
              >
                {% render 'icon',
                  icon_name: 'play',
                  class: 'slideshow__play-button-icon slideshow__play-button-icon--play'
                %}
                {% render 'icon',
                  icon_name: 'pause',
                  class: 'slideshow__play-button-icon slideshow__play-button-icon--pause'
                %}
              </button>
            </carousel-play-button>
          {%- endif -%}

          {%- if blocks.size > 1 and dots_style != 'none' -%}
            {{ carousel_dots }}
          {%- endif -%}
        </carousel-component>
      {%- else -%}
        {{
          'collection-4'
          | placeholder_svg_tag: 'placeholder-image placeholder-image--with-content section-stub slideshow__section-stub'
        }}
      {%- endif -%}
    </slideshow-component>
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "place-under-transparent-header",
  "settings": [
    {
      "type": "range",
      "id": "desktop_ratio",
      "min": 0.2,
      "max": 1.5,
      "step": 0.1,
      "default": 0.4,
      "unit": "t:sections.slideshow.desktop_ratio.unit",
      "label": "t:sections.slideshow.desktop_ratio.label"
    },
    {
      "type": "range",
      "id": "mobile_ratio",
      "min": 0.2,
      "max": 2.5,
      "step": 0.1,
      "default": 1.6,
      "unit": "t:sections.slideshow.mobile_ratio.unit",
      "label": "t:sections.slideshow.mobile_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.navigation_settings_header"
    },
    {
      "type": "select",
      "id": "show_dots",
      "label": "t:sections.general_section_settings.dots_style.show_dots.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.dots_style.show_dots.options.none"
        },
        {
          "value": "dot",
          "label": "t:sections.general_section_settings.dots_style.show_dots.options.basic"
        },
        {
          "value": "line",
          "label": "t:sections.general_section_settings.dots_style.show_dots.options.pills"
        }
      ],
      "default": "dot"
    },
    {
      "type": "select",
      "id": "dots_style",
      "label": "t:sections.general_section_settings.dots_style.dots_style.label",
      "options": [
        {
          "value": "dots_white",
          "label": "t:sections.general_section_settings.dots_style.dots_style.options.dots_white"
        },
        {
          "value": "dots_white_with_bg",
          "label": "t:sections.general_section_settings.dots_style.dots_style.options.dots_white_with_bg"
        },
        {
          "value": "dots_black",
          "label": "t:sections.general_section_settings.dots_style.dots_style.options.dots_black"
        },
        {
          "value": "dots_black_with_bg",
          "label": "t:sections.general_section_settings.dots_style.dots_style.options.dots_black_with_bg"
        }
      ],
      "default": "dots_white",
      "visible_if": "{{ section.settings.show_dots != 'none' }}"
    },
    {
      "type": "select",
      "id": "dots_size",
      "label": "t:sections.general_section_settings.dots_style.dots_size.label",
      "options": [
        {
          "value": "l",
          "label": "t:sections.general_section_settings.dots_style.dots_size.options.large"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.dots_style.dots_size.options.medium"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.dots_style.dots_size.options.small"
        }
      ],
      "default": "l",
      "visible_if": "{{ section.settings.show_dots != 'none' }}"
    },
    {
      "type": "select",
      "id": "show_navigation_arrows",
      "label": "t:sections.slideshow.show_navigation_arrows.label",
      "options": [
        {
          "value": "never",
          "label": "t:sections.slideshow.show_navigation_arrows.options.option_1"
        },
        {
          "value": "always",
          "label": "t:sections.slideshow.show_navigation_arrows.options.option_2"
        },
        {
          "value": "on_hover",
          "label": "t:sections.slideshow.show_navigation_arrows.options.option_3"
        }
      ],
      "default": "on_hover"
    },
    {
      "type": "select",
      "id": "arrows_style",
      "label": "t:sections.slideshow.label_for_arrows_style_setting",
      "options": [
        {
          "value": "aside-buttons",
          "label": "t:sections.slideshow.label_for_aside_buttons_option_in_arrows_style_setting"
        },
        {
          "value": "corner-buttons",
          "label": "t:sections.slideshow.label_for_corner_buttons_option_in_arrows_style_setting"
        }
      ],
      "default": "corner-buttons",
      "visible_if": "{{ section.settings.show_navigation_arrows != 'never' }}"
    },
    {
      "type": "select",
      "id": "transition_style",
      "label": "t:sections.slideshow.transition_style.label",
      "info": "t:sections.slideshow.transition_style.info",
      "options": [
        {
          "value": "fade",
          "label": "t:sections.slideshow.transition_style.option_1_label"
        },
        {
          "value": "swipe",
          "label": "t:sections.slideshow.transition_style.option_2_label"
        },
        {
          "value": "seamless",
          "label": "t:sections.slideshow.transition_style.option_3_label"
        }
      ],
      "default": "swipe"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.carousel-settings.label"
    },
    {
      "type": "select",
      "id": "autoplay_mode",
      "options": [
        {
          "value": "disabled",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_1"
        },
        {
          "value": "one_at_time",
          "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.options.option_3"
        }
      ],
      "default": "disabled",
      "label": "t:sections.general_section_settings.carousel-settings.autoplay_mode.label"
    },
    {
      "type": "range",
      "id": "autoplay_interval",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3,
      "unit": "t:sections.general_section_settings.carousel-settings.autoplay_interval.unit",
      "label": "t:sections.general_section_settings.carousel-settings.autoplay_interval.label",
      "visible_if": "{{ section.settings.autoplay_mode != 'disabled' }}"
    },
    {
      "type": "checkbox",
      "id": "show_button_for_autoplay",
      "default": true,
      "label": "t:sections.slideshow.show_button_for_autoplay.label",
      "visible_if": "{{ section.settings.autoplay_mode != 'disabled' }}"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.accessibility.header"
    },
    {
      "type": "text",
      "id": "accessibility_alt_text",
      "default": "Slideshow about our brand",
      "label": "t:sections.slideshow.accessibility.alt_text.label",
      "info": "t:sections.slideshow.accessibility.alt_text.info"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.appearance.header_title"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "full-screen",
          "label": "t:sections.general_section_settings.container_size.screen_width_option"
        },
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        }
      ],
      "default": "full-screen",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "select",
      "id": "round_level",
      "options": [
        {
          "value": "default",
          "label": "t:settings_schema.appearance.round_level.options.default"
        },
        {
          "value": "0",
          "label": "t:settings_schema.appearance.round_level.options.option_0"
        },
        {
          "value": "1",
          "label": "t:settings_schema.appearance.round_level.options.option_1"
        },
        {
          "value": "2",
          "label": "t:settings_schema.appearance.round_level.options.option_2"
        },
        {
          "value": "3",
          "label": "t:settings_schema.appearance.round_level.options.option_3"
        },
        {
          "value": "4",
          "label": "t:settings_schema.appearance.round_level.options.option_4"
        },
        {
          "value": "5",
          "label": "t:settings_schema.appearance.round_level.options.option_5"
        },
        {
          "value": "6",
          "label": "t:settings_schema.appearance.round_level.options.option_6"
        },
        {
          "value": "7",
          "label": "t:settings_schema.appearance.round_level.options.option_7"
        },
        {
          "value": "8",
          "label": "t:settings_schema.appearance.round_level.options.option_8"
        }
      ],
      "default": "default",
      "label": "t:settings_schema.appearance.round_level.label"
    },
    {
      "type": "select",
      "id": "color_scheme_variant",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
        },
        {
          "value": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_variant.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "2",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' }}"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "default": false,
      "label": "t:sections.general_section_settings.enable_background_around_container_label",
      "visible_if": "{{ section.settings.color_scheme_variant == 'own' and settings.default_color_scheme != section.settings.color_scheme }}"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.paddings.header_title"
    },
    {
      "type": "checkbox",
      "id": "add_desktop_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.desktop_label"
    },
    {
      "type": "checkbox",
      "id": "add_mobile_side_paddings",
      "default": true,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.mobile_label"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "none",
      "label": "t:sections.general_section_settings.paddings.section_spacing_top.label"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.none"
        },
        {
          "value": "xxxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxs"
        },
        {
          "value": "xxxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxs"
        },
        {
          "value": "xxs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxs"
        },
        {
          "value": "xs",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xs"
        },
        {
          "value": "s",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.s"
        },
        {
          "value": "m",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.m"
        },
        {
          "value": "l",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.l"
        },
        {
          "value": "xl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xl"
        },
        {
          "value": "xxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxl"
        },
        {
          "value": "xxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxl"
        },
        {
          "value": "xxxxl",
          "label": "t:sections.general_section_settings.paddings.section_spacing_top.options.xxxxl"
        }
      ],
      "default": "none",
      "label": "t:sections.general_section_settings.paddings.section_spacing_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.optimization.header_title"
    },
    {
      "type": "checkbox",
      "id": "disable_lazy_loading",
      "default": false,
      "label": "t:sections.general_section_settings.optimization.disable_lazy_loading.label",
      "info": "t:sections.general_section_settings.optimization.disable_lazy_loading.info"
    }
  ],
  "blocks": [
    {
      "type": "image-banner",
      "name": "t:sections.slideshow.name_for_image_slide_block",
      "settings": [
        {
          "type": "select",
          "id": "desktop_media_type",
          "label": "t:sections.general_section_settings.media_type.desktop_type_label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.general_section_settings.media_type.options.image"
            },
            {
              "value": "video",
              "label": "t:sections.general_section_settings.media_type.options.video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "t:sections.general_section_settings.media_type.options.image",
          "visible_if": "{{ block.settings.desktop_media_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "desktop_video",
          "label": "t:sections.general_section_settings.media_type.options.video",
          "visible_if": "{{ block.settings.desktop_media_type == 'video' }}"
        },
        {
          "type": "checkbox",
          "id": "desktop_enable_overlay",
          "default": false,
          "label": "t:sections.general_section_settings.overlay.checkbox_label"
        },
        {
          "type": "range",
          "id": "desktop_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 25,
          "unit": "%",
          "label": "t:sections.general_section_settings.opacity_label",
          "visible_if": "{{ block.settings.desktop_enable_overlay == true }}"
        },
        {
          "type": "select",
          "id": "mobile_media_type",
          "label": "t:sections.general_section_settings.media_type.mobile_type_label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.general_section_settings.media_type.options.image"
            },
            {
              "value": "video",
              "label": "t:sections.general_section_settings.media_type.options.video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.general_section_settings.media_type.options.image",
          "visible_if": "{{ block.settings.mobile_media_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "mobile_video",
          "label": "t:sections.general_section_settings.media_type.options.video",
          "visible_if": "{{ block.settings.mobile_media_type == 'video' }}"
        },
        {
          "type": "checkbox",
          "id": "mobile_enable_overlay",
          "default": false,
          "label": "t:sections.general_section_settings.overlay.checkbox_label"
        },
        {
          "type": "range",
          "id": "mobile_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 25,
          "unit": "%",
          "label": "t:sections.general_section_settings.opacity_label",
          "visible_if": "{{ block.settings.mobile_enable_overlay == true }}"
        },

        {
          "type": "header",
          "content": "t:sections.image_banner.content_settings_header"
        },
        {
          "type": "text",
          "id": "caption",
          "default": "IMAGE BANNER",
          "label": "t:sections.image_banner.label_for_caption_setting"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Image with text",
          "label": "t:sections.image_banner.label_for_title_setting"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Fill in the text to tell customers by what your products are inspired.</p>",
          "label": "t:sections.image_banner.label_for_text_setting"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body3"
        },
        {
          "type": "header",
          "content": "t:sections.image_banner.content_position_settings_header"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "label": "t:sections.general_section_settings.position_label",
          "options": [
            {
              "value": "align-items:flex-start;justify-content:flex-start;",
              "label": "t:sections.general_section_settings.position_option_top_left_label"
            },
            {
              "value": "align-items:flex-start;justify-content:center;",
              "label": "t:sections.general_section_settings.position_option_top_center_label"
            },
            {
              "value": "align-items:flex-start;justify-content:flex-end;",
              "label": "t:sections.general_section_settings.position_option_top_right_label"
            },
            {
              "value": "align-items:center;justify-content:flex-start;",
              "label": "t:sections.general_section_settings.position_option_center_left_label"
            },
            {
              "value": "align-items:center;justify-content:center;",
              "label": "t:sections.general_section_settings.position_option_center_center_label"
            },
            {
              "value": "align-items:center;justify-content:flex-end;",
              "label": "t:sections.general_section_settings.position_option_center_right_label"
            },
            {
              "value": "align-items:flex-end;justify-content:flex-start;",
              "label": "t:sections.general_section_settings.position_option_bottom_left_label"
            },
            {
              "value": "align-items:flex-end;justify-content:center;",
              "label": "t:sections.general_section_settings.position_option_bottom_center_label"
            },
            {
              "value": "align-items:flex-end;justify-content:flex-end;",
              "label": "t:sections.general_section_settings.position_option_bottom_right_label"
            }
          ],
          "default": "align-items:center;justify-content:center;"
        },
        {
          "type": "text_alignment",
          "id": "desktop_content_align",
          "label": "t:sections.general_section_settings.heading_alignment_label",
          "default": "center"
        },
        {
          "type": "range",
          "id": "content_max_width",
          "min": 528,
          "max": 1304,
          "step": 8,
          "default": 528,
          "unit": "t:sections.image_banner.unit_for_content_max_width_setting",
          "label": "t:sections.image_banner.label_for_content_max_width_setting"
        },
        {
          "type": "select",
          "id": "mobile_content_position",
          "label": "t:sections.general_section_settings.mobile_position_label",
          "options": [
            {
              "value": "align-items:flex-start;justify-content:center;",
              "label": "t:sections.general_section_settings.position_option_top_label"
            },
            {
              "value": "align-items:center;justify-content:center;",
              "label": "t:sections.general_section_settings.position_option_center_label"
            },
            {
              "value": "align-items:flex-end;justify-content:center;",
              "label": "t:sections.general_section_settings.position_option_bottom_label"
            }
          ],
          "default": "align-items:center;justify-content:center;"
        },
        {
          "type": "text_alignment",
          "id": "mobile_content_align",
          "label": "t:sections.general_section_settings.mobile_alignment_label",
          "default": "center"
        },
        {
          "type": "select",
          "id": "content_paddings_size",
          "options": [
            {
              "value": "m",
              "label": "t:sections.images_with_text.content_paddings_size.m"
            },
            {
              "value": "xl",
              "label": "t:sections.images_with_text.content_paddings_size.l"
            },
            {
              "value": "3xl",
              "label": "t:sections.images_with_text.content_paddings_size.xl"
            }
          ],
          "default": "m",
          "label": "Paddings"
        },
        {
          "type": "header",
          "content": "t:sections.image_banner.background_settings_header"
        },
        {
          "type": "select",
          "id": "desktop_content_background",
          "options": [
            {
              "value": "none",
              "label": "t:sections.image_banner.label_for_none_option_in_show_background_setting"
            },
            {
              "value": "solid",
              "label": "t:sections.image_banner.label_for_solid_option_in_show_background_setting"
            },
            {
              "value": "outline",
              "label": "t:sections.image_banner.label_for_outline_option_in_show_background_setting"
            },
            {
              "value": "shadow",
              "label": "t:sections.image_banner.label_for_shadow_option_in_show_background_setting"
            }
          ],
          "default": "none",
          "label": "t:sections.image_banner.label_for_show_background_on_desktop_setting"
        },
        {
          "type": "range",
          "id": "desktop_outline_border_thickness",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1,
          "unit": "px",
          "label": "t:sections.general_section_settings.border_thickness",
          "visible_if": "{{ block.settings.desktop_content_background == 'outline' }}"
        },
        {
          "type": "range",
          "id": "desktop_background_opacity",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 20,
          "unit": "%",
          "label": "t:sections.general_section_settings.opacity_label",
          "visible_if": "{{ block.settings.desktop_content_background == 'solid' }}"
        },
        {
          "type": "range",
          "id": "desktop_background_blur",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 12,
          "unit": "px",
          "label": "t:sections.general_section_settings.blur_label",
          "visible_if": "{{ block.settings.desktop_content_background == 'solid' }}"
        },
        {
          "type": "color",
          "id": "desktop_shadow_background_color",
          "default": "#00000030",
          "alpha": true,
          "label": "t:sections.general_section_settings.shadow_label",
          "visible_if": "{{ block.settings.desktop_content_background == 'shadow' }}"
        },
        {
          "type": "select",
          "id": "mobile_content_background",
          "options": [
            {
              "value": "none",
              "label": "t:sections.image_banner.label_for_none_option_in_show_background_setting"
            },
            {
              "value": "solid",
              "label": "t:sections.image_banner.label_for_solid_option_in_show_background_setting"
            },
            {
              "value": "outline",
              "label": "t:sections.image_banner.label_for_outline_option_in_show_background_setting"
            },
            {
              "value": "shadow",
              "label": "t:sections.image_banner.label_for_shadow_option_in_show_background_setting"
            }
          ],
          "default": "none",
          "label": "t:sections.image_banner.label_for_show_background_on_mobile_setting"
        },
        {
          "type": "range",
          "id": "mobile_outline_border_thickness",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1,
          "unit": "px",
          "label": "t:sections.general_section_settings.border_thickness",
          "visible_if": "{{ block.settings.mobile_content_background == 'outline' }}"
        },
        {
          "type": "range",
          "id": "mobile_background_opacity",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 20,
          "unit": "%",
          "label": "t:sections.general_section_settings.opacity_label",
          "visible_if": "{{ block.settings.mobile_content_background == 'solid' }}"
        },
        {
          "type": "range",
          "id": "mobile_background_blur",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 12,
          "unit": "px",
          "label": "t:sections.general_section_settings.blur_label",
          "visible_if": "{{ block.settings.mobile_content_background == 'solid' }}"
        },
        {
          "type": "color",
          "id": "mobile_shadow_background_color",
          "default": "#00000030",
          "alpha": true,
          "label": "t:sections.general_section_settings.shadow_label",
          "visible_if": "{{ block.settings.mobile_content_background == 'shadow' }}"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.buttons.style.first_button_header"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button label",
          "label": "t:sections.general_section_settings.buttons.style.button_label"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "t:sections.general_section_settings.buttons.style.link_label"
        },
        {
          "type": "select",
          "id": "btn_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.buttons.style.options.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.buttons.style.options.secondary"
            },
            {
              "value": "tertiary",
              "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
            },
            {
              "value": "link",
              "label": "t:sections.general_section_settings.buttons.style.options.link"
            }
          ],
          "default": "primary",
          "label": "t:sections.general_section_settings.buttons.style.style_label"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.buttons.style.second_button_header"
        },
        {
          "type": "text",
          "id": "extra_btn_text",
          "label": "t:sections.general_section_settings.buttons.style.button_label"
        },
        {
          "type": "url",
          "id": "extra_btn_url",
          "label": "t:sections.general_section_settings.buttons.style.link_label"
        },
        {
          "type": "select",
          "id": "extra_btn_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.buttons.style.options.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.buttons.style.options.secondary"
            },
            {
              "value": "tertiary",
              "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
            },
            {
              "value": "link",
              "label": "t:sections.general_section_settings.buttons.style.options.link"
            }
          ],
          "default": "secondary",
          "label": "t:sections.general_section_settings.buttons.style.style_label"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.appearance.header_title"
        },
        {
          "type": "select",
          "id": "color_scheme_variant",
          "options": [
            {
              "value": "default",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
            },
            {
              "value": "own",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
            },
            {
              "value": "custom",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.custom"
            }
          ],
          "default": "own",
          "label": "t:sections.general_section_settings.color_scheme_variant.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "10",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "visible_if": "{{ block.settings.color_scheme_variant == 'own' }}"
        },
        {
          "type": "color",
          "id": "custom_text_color",
          "label": "t:settings_schema.color_pallets.text_label",
          "default": "#FFFFFF",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_background_color",
          "label": "t:settings_schema.color_pallets.background_label",
          "default": "#000000",
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_foreground_color",
          "label": "t:settings_schema.color_pallets.foreground_label",
          "default": "#323232",
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_first_button_text_color",
          "label": "t:sections.general_section_settings.custom_color_scheme.first_button.button_label_color",
          "default": "#FFFFFF",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_first_button_bg_color",
          "label": "t:sections.general_section_settings.custom_color_scheme.first_button.button_background_color",
          "default": "#323232",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_first_button_border_color",
          "label": "t:sections.general_section_settings.custom_color_scheme.first_button.button_border_color",
          "default": "#323232",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_second_button_text_color",
          "label": "t:sections.general_section_settings.custom_color_scheme.second_button.button_label_color",
          "default": "#FFFFFF",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_second_button_bg_color",
          "label": "t:sections.general_section_settings.custom_color_scheme.second_button.button_background_color",
          "default": "#323232",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_second_button_border_color",
          "label": "t:sections.general_section_settings.custom_color_scheme.second_button.button_border_color",
          "default": "#323232",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        },
        {
          "type": "color",
          "id": "custom_link_color",
          "label": "t:sections.general_section_settings.custom_color_scheme.link_text_color",
          "default": "#FFFFFF",
          "alpha": true,
          "visible_if": "{{ block.settings.color_scheme_variant == 'custom' }}"
        }
      ]
    },
    {
      "type": "split-image-banner",
      "name": "t:sections.slideshow.name_for_split_image_slide_block",
      "settings": [
        {
          "type": "range",
          "id": "image_proportion",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50,
          "label": "t:sections.split_image_banner.label_for_image_proportion",
          "unit": "t:sections.split_image_banner.unit_for_image_proportion"
        },
        {
          "type": "range",
          "id": "content_wrapper_width",
          "min": 30,
          "max": 65,
          "step": 1,
          "default": 30,
          "unit": "t:sections.split_image_banner.unit_for_content_wrapper_width_setting",
          "label": "t:sections.split_image_banner.label_for_content_wrapper_width_setting"
        },
        {
          "type": "header",
          "content": "t:sections.split_image_banner.left_image_settings_header"
        },
        {
          "type": "select",
          "id": "desktop_left_media_type",
          "label": "t:sections.general_section_settings.media_type.desktop_type_label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.general_section_settings.media_type.options.image"
            },
            {
              "value": "video",
              "label": "t:sections.general_section_settings.media_type.options.video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "desktop_left_img",
          "label": "t:sections.general_section_settings.media_type.options.image",
          "visible_if": "{{ block.settings.desktop_left_media_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "desktop_left_video",
          "label": "t:sections.general_section_settings.media_type.options.video",
          "visible_if": "{{ block.settings.desktop_left_media_type == 'video' }}"
        },
        {
          "type": "select",
          "id": "mobile_left_media_type",
          "label": "t:sections.general_section_settings.media_type.mobile_type_label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.general_section_settings.media_type.options.image"
            },
            {
              "value": "video",
              "label": "t:sections.general_section_settings.media_type.options.video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "mobile_left_img",
          "label": "t:sections.general_section_settings.media_type.options.image",
          "visible_if": "{{ block.settings.mobile_left_media_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "mobile_left_video",
          "label": "t:sections.general_section_settings.media_type.options.video",
          "visible_if": "{{ block.settings.mobile_left_media_type == 'video' }}"
        },
        {
          "type": "header",
          "content": "t:sections.split_image_banner.right_image_settings_header"
        },
        {
          "type": "select",
          "id": "desktop_right_media_type",
          "label": "t:sections.general_section_settings.media_type.desktop_type_label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.general_section_settings.media_type.options.image"
            },
            {
              "value": "video",
              "label": "t:sections.general_section_settings.media_type.options.video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "desktop_right_img",
          "label": "t:sections.general_section_settings.media_type.options.image",
          "visible_if": "{{ block.settings.desktop_right_media_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "desktop_right_video",
          "label": "t:sections.general_section_settings.media_type.options.video",
          "visible_if": "{{ block.settings.desktop_right_media_type == 'video' }}"
        },
        {
          "type": "select",
          "id": "mobile_right_media_type",
          "label": "t:sections.general_section_settings.media_type.mobile_type_label",
          "options": [
            {
              "value": "image",
              "label": "t:sections.general_section_settings.media_type.options.image"
            },
            {
              "value": "video",
              "label": "t:sections.general_section_settings.media_type.options.video"
            }
          ],
          "default": "image"
        },
        {
          "type": "image_picker",
          "id": "mobile_right_img",
          "label": "t:sections.general_section_settings.media_type.options.image",
          "visible_if": "{{ block.settings.mobile_right_media_type == 'image' }}"
        },
        {
          "type": "video",
          "id": "mobile_right_video",
          "label": "t:sections.general_section_settings.media_type.options.video",
          "visible_if": "{{ block.settings.mobile_right_media_type == 'video' }}"
        },
        {
          "type": "header",
          "content": "t:sections.split_image_banner.content_settings_header"
        },
        {
          "type": "text",
          "id": "caption",
          "default": "SPLIT IMAGE BANNER",
          "label": "t:sections.split_image_banner.label_for_caption_setting"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Two images with text in between",
          "label": "t:sections.split_image_banner.label_for_title_setting"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Fill in the text to tell customers by what your products are inspired.</p>",
          "label": "t:sections.split_image_banner.label_for_text_setting"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body3"
        },
        {
          "type": "header",
          "content": "t:sections.split_image_banner.content_layout_settings_header"
        },
        {
          "type": "range",
          "id": "content_max_width",
          "min": 320,
          "max": 720,
          "step": 4,
          "default": 424,
          "unit": "t:sections.split_image_banner.unit_for_content_max_width_setting",
          "label": "t:sections.split_image_banner.label_for_content_max_width_setting"
        },
        {
          "type": "text_alignment",
          "id": "desktop_content_align",
          "label": "t:sections.general_section_settings.heading_alignment_label",
          "default": "center"
        },
        {
          "type": "text_alignment",
          "id": "mobile_content_align",
          "label": "t:sections.general_section_settings.mobile_alignment_label",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.buttons.style.first_button_header"
        },
        {
          "type": "text",
          "id": "btn_text",
          "default": "Button label",
          "label": "t:sections.general_section_settings.buttons.style.button_label"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "t:sections.general_section_settings.buttons.style.link_label"
        },
        {
          "type": "select",
          "id": "btn_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.buttons.style.options.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.buttons.style.options.secondary"
            },
            {
              "value": "tertiary",
              "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
            },
            {
              "value": "link",
              "label": "t:sections.general_section_settings.buttons.style.options.link"
            }
          ],
          "default": "primary",
          "label": "t:sections.general_section_settings.buttons.style.style_label"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.buttons.style.second_button_header"
        },
        {
          "type": "text",
          "id": "extra_btn_text",
          "label": "t:sections.general_section_settings.buttons.style.button_label"
        },
        {
          "type": "url",
          "id": "extra_btn_url",
          "label": "t:sections.general_section_settings.buttons.style.link_label"
        },
        {
          "type": "select",
          "id": "extra_btn_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.general_section_settings.buttons.style.options.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.general_section_settings.buttons.style.options.secondary"
            },
            {
              "value": "tertiary",
              "label": "t:sections.general_section_settings.buttons.style.options.tertiary"
            },
            {
              "value": "link",
              "label": "t:sections.general_section_settings.buttons.style.options.link"
            }
          ],
          "default": "secondary",
          "label": "t:sections.general_section_settings.buttons.style.style_label"
        },
        {
          "type": "header",
          "content": "t:sections.general_section_settings.appearance.header_title"
        },
        {
          "type": "select",
          "id": "color_scheme_variant",
          "options": [
            {
              "value": "default",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.default"
            },
            {
              "value": "own",
              "label": "t:sections.general_section_settings.color_scheme_variant.options.own"
            }
          ],
          "default": "default",
          "label": "t:sections.general_section_settings.color_scheme_variant.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "2",
          "label": "t:sections.general_section_settings.color_scheme_label",
          "visible_if": "{{ block.settings.color_scheme_variant == 'own' }}"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.name",
      "blocks": [
        {
          "type": "image-banner"
        },
        {
          "type": "split-image-banner"
        },
        {
          "type": "image-banner"
        },
        {
          "type": "split-image-banner"
        }
      ]
    }
  ]
}
{% endschema %}
